﻿html {
  color: #333;
  height: 100%;
}
body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
input,
textarea,
p,
blockquote,
th,
td {
  margin: 0;
  padding: 0;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
fieldset,
img {
  border: 0;
}
address,
caption,
cite,
code,
dfn,
em,
strong,
th,
var {
  font-style: normal;
  font-weight: normal;
}
li {
  list-style: none;
}
caption,
th {
  text-align: left;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal;
}
q:before,
q:after {
  content: '';
}
abbr,
acronym {
  border: 0;
  font-variant: normal;
}
sup {
  vertical-align: top;
}
sub {
  vertical-align: bottom;
}
input,
textarea,
select {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
}
img {
  vertical-align: top;
}
strong {
  font-weight: bold;
}
em {
  font-style: italic;
}
.clear {
  clear: both;
}
.row:before,
.row:after,
.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}
.row:after,
.clearfix:after {
  clear: both;
}
* {
  outline: 0;
  outline-color: transparent;
  outline-style: none;
  outline-width: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
::-ms-clear {
  display: none;
}
body {
  background: #fff;
  font: 14px/24px "Segoe UI", sans-serif;
  overflow-y: scroll;
}
a {
  color: #333;
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
a span {
  cursor: pointer;
}
h2 {
  font-size: 20px;
  font-weight: bold;
  margin: 20px 0 0 15px;
}
h2 i.fa {
  width: 10px;
  height: 12px;
  vertical-align: 10%;
}
h3 {
  font-size: 16px;
  font-weight: bold;
  padding: 10px 0 10px 15px;
}
img,
object,
embed,
iframe {
  vertical-align: top;
}
.body-content {
  padding-bottom: 100px;
}
.wrap {
  margin: auto;
  max-width: 1100px;
}
.hidden {
  display: none;
}
.hidden-important {
  display: none !important;
}
.bg {
  background: #F1EFEC;
}
.bg select,
.bg input[type=search],
.bg input[type=text],
.bg input[type=number],
.bg input[type=email],
.bg input[type=password],
.bg textarea {
  background-color: #fff;
}
.comma-separated-list span:after {
  content: ', ';
}
.comma-separated-list span:last-child:after {
  content: '';
}
body.modal {
  overflow: hidden;
}
body.modal .body-content {
  overflow-y: auto;
  position: absolute;
  top: 0;
  bottom: 50px;
  width: 100%;
  padding: 20px 20px;
}
body.modal .buttons {
  width: 100%;
  padding-top: 0;
  padding-left: 0;
  margin-left: -20px;
  height: 50px;
  position: fixed;
  bottom: 0;
  border-top: 1px solid #F1EFEC;
}
body.modal .buttons button,
body.modal .buttons .button {
  line-height: 50px;
  padding: 0 20px;
  float: left;
}
body.modal .buttons:after {
  content: ' ';
  display: table;
  clear: both;
}
.col {
  float: left;
}
.row-20 .col {
  padding-left: 20px;
  padding-right: 20px;
}
.row-40 .col {
  padding: 0 40px;
}
/*
.row-40 .col:first-child { padding-left:80px; }
.row-40 .col:last-child { padding-right: 80px; }
    */
.col-10 {
  width: 10%;
}
.col-25 {
  width: 25%;
}
.col-27 {
  width: 27%;
}
.col-30 {
  width: 30%;
}
.col-33 {
  width: 33.3333%;
}
.col-35 {
  width: 35%;
}
.col-40 {
  width: 40%;
}
.col-45 {
  width: 45%;
}
.col-50 {
  width: 50%;
}
/* #region FORM FIELDS
--------------------------------------- */
label.disabled {
  color: #999;
}
.form-item {
  margin-top: 10px;
  position: relative;
}
.form-item:before,
.form-item:after {
  content: " ";
  display: table;
}
.form-item:after {
  clear: both;
}
.form-item > label {
  float: left;
  width: 30%;
}
.form-item > div {
  float: left;
  width: 70%;
}
.label-50 .form-item > div,
.label-50 .form-item > label {
  width: 50%;
}
.form-item > div.text {
  padding: 0 10px;
}
.form-item > div.text,
.form-item > label {
  min-height: 34px;
  padding-top: 5px;
  /* (34 - 24) / 2 */
}
.read-only .form-item {
  margin-top: 5px;
}
.read-only .form-item > div.text,
.read-only .form-item > label {
  min-height: 28px;
  padding-top: 0;
  /* (34 - 24) / 2 */
}
label.placeholder {
  font-size: 14px;
  height: 36px;
  line-height: 36px;
  padding: 0;
  width: 100%;
  text-align: center;
}
input,
textarea,
button {
  font: 14px/24px "Segoe UI", sans-serif;
  background: #fff;
  color: #333;
}
input:disabled,
select:disabled textarea:disabled {
  cursor: not-allowed;
}
select,
textarea,
input[type=search],
input[type=text],
input[type=number],
input[type=email],
input[type=password] {
  background: #F1EFEC;
  border: 0;
  height: 34px;
  line-height: 34px;
  padding: 0 10px;
}
textarea {
  line-height: normal;
  padding-top: 5px;
}
select {
  padding-left: 8px;
  /*
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    */
  text-indent: 0;
}
/*
input.search,
input[type=search] {
	background-image: url('icons/search.png');
    background-repeat: no-repeat;
    background-position: 100% 50%;
}
*/
button,
.button {
  -webkit-appearance: none;
  background: #f00 no-repeat 0 0;
  border: 0;
  border-radius: 0;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  margin: 0;
  padding: 0 10px;
  font-size: 14px;
  line-height: 34px;
  font-weight: 400;
}
button:disabled {
  cursor: not-allowed;
  background: #ccc;
  color: #888;
}
.disabled a {
  cursor: not-allowed;
}
.button.text-button {
  background: none;
  color: #333;
}
input.has-datepicker,
input.daterangeinput {
  background-image: url('icons/calendar.png');
  background-repeat: no-repeat;
  background-position: 100% 50%;
}
input.has-datepicker {
  width: 120px;
}
input.daterangeinput {
  width: 200px;
}
input.w-100,
select.w-100 {
  width: 100%;
}
div.checker,
div.radio {
  display: -moz-inline-box;
  display: inline-block;
  *display: inline;
  position: relative;
  zoom: 1;
  vertical-align: middle;
  /*background: #fff;*/
  border: 1px solid #333;
  width: 18px;
  height: 18px;
  margin: 0;
  margin-top: -3px;
  margin-right: 6px;
}
div.checker > span,
div.radio > span {
  position: absolute;
  top: 4px;
  left: 4px;
  height: 8px;
  width: 8px;
  display: -moz-inline-box;
  display: inline-block;
  *display: inline;
  zoom: 1;
  text-align: center;
}
div.checker:focus,
div.radio:focus {
  outline: 0;
}
div.radio *,
div.checker * {
  margin: 0;
  padding: 0;
}
div.checker > input {
  border: none;
  width: 0;
  height: 0;
  visibility: hidden;
}
div.checker:hover {
  border-color: #666;
}
div.checker > input[type=checkbox] + span,
div.checker > input[type=radio] + span {
  -moz-transition: background 0.2s;
  -o-transition: background 0.2s;
  -webkit-transition: background 0.2s;
  transition: background 0.2s;
}
div.checker > input[type=radio]:checked + span,
div.checker > input[type=checkbox]:checked + span {
  background: #f00;
}
div.checker.disabled {
  /*background:#e0e0e0;*/
  border-color: #999;
}
div.checker > input[type=checkbox]:checked:disabled + span {
  background: #999;
}
.unit-container {
  display: inline-block;
  position: relative;
}
.unit-container > input[type=text] {
  padding-right: 40px;
}
.unit-container > span {
  position: absolute;
  right: 0;
  top: 0;
  padding: 5px 10px;
  color: #999;
}
/*
input[type=text].error,
input[type=email].error,
input[type=password].error {
	border-color: #f00;
}*/
.field-validation-error {
  color: #c00;
}
.xelect.input-validation-error input[type=text],
select.input-validation-error,
input[type=search].input-validation-error,
input[type=text].input-validation-error,
input[type=number].input-validation-error,
input[type=email].input-validation-error,
input[type=password].input-validation-error,
textarea.input-validation-error {
  background-color: #EFDADA;
}
.alert-container {
  position: fixed;
  top: 10px;
  left: 50%;
  display: none;
  width: 400px;
  margin-left: -200px;
  z-index: 999;
  padding: 10px 30px;
  background: #fff;
  -webkit-box-shadow: rgba(0, 0, 0, 0.5) 0 0 10px;
  -ms-box-shadow: rgba(0, 0, 0, 0.5) 0 0 10px;
  box-shadow: rgba(0, 0, 0, 0.5) 0 0 10px;
}
.alert-container .alert {
  text-align: center;
}
.alert-container .alert.success {
  color: green;
}
.alert-container .alert.error {
  color: #c00;
}
/*#endregion*/
/* #region LOGIN
----------------------------------*/
body.login-body {
  height: 100%;
  overflow: hidden;
}
.login .logo {
  text-align: center;
}
.login-wrap {
  background: url('images/login-bg2.jpg') no-repeat 50% 50%;
  background-size: cover;
  min-height: 100%;
}
.login-wrap .bg {
  background: #E2E0DA;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 0;
  opacity: 0.8;
}
.login {
  position: absolute;
  left: 50%;
  margin: -180px 0 0 -130px;
  top: 50%;
}
.login form {
  margin: auto;
  padding: 68px 0 0;
  width: 260px;
}
.login input[type=text],
.login input[type=password] {
  background: #fff;
  width: 100%;
  border: 1px solid #fff;
}
.login input[type=text].input-validation-error,
.login input[type=password].input-validation-error {
  border: 1px solid #854a4a;
  background: #f6e6e6;
  color: #c00;
}
.login .loading-wrap {
  margin: 60px auto 0;
}
/*#endregion*/
/* #region HEADER 
----------------------------------*/
header {
  height: 70px;
  position: relative;
  z-index: 1;
}
header .logo {
  float: left;
  padding: 20px 15px;
  width: 150px;
}
header .logo img {
  height: 29px;
  border: 0;
}
header .menu {
  float: left;
  width: 560px;
}
header .menu li {
  display: inline;
}
header .menu a {
  display: inline-block;
  font-weight: bold;
  height: 70px;
  margin: 0 40px 0 0;
  text-transform: uppercase;
  vertical-align: top;
  line-height: 70px;
}
header .menu .active a {
  color: #f00;
}
header .menu a:hover {
  color: #000;
  text-decoration: none;
}
header .menu li.disabled a,
header .menu-account li.disabled a {
  color: #ccc;
}
header .menu-account {
  float: right;
  padding: 25px 0 0;
}
header .menu-account li {
  position: relative;
  display: inline;
}
header .menu-account a {
  border-left: 1px solid #000;
  display: inline-block;
  height: 24px;
  line-height: 24px;
  margin: 0 0 0 14px;
  padding: 0 0 0 14px;
  vertical-align: top;
}
header .menu-account li:first-child a {
  border: 0;
  padding-left: 0;
  margin-left: 0;
}
header .menu-account .logout a {
  color: #4c4c4c;
  padding: 0 16px 0 14px;
}
header .menu-account .logout a:hover {
  color: #000;
}
header .menu-account li ul {
  background: #fff;
  border: 1px solid #F1EFEC;
  box-shadow: 0 0 5px rgba(153, 153, 153, 0.5);
  display: none;
  padding: 10px 0;
  position: absolute;
  left: -15px;
  top: 23px;
}
header .menu-account li li a,
header .menu-account li:first-child li a {
  display: block;
  height: auto;
  line-height: 24px;
  padding: 0 14px;
  white-space: nowrap;
}
header .menu-account li li a:hover {
  background: #f5f3ef;
}
/*#endregion*/
/* #region QUICKSEARCH 
----------------------------------*/
.quick-search {
  position: relative;
}
.quick-search input[type=search] {
  background: #F1EFEC;
  height: 40px;
  font-size: 16px;
  line-height: 40px;
  padding: 0 15px;
  width: 100%;
}
.quick-search .form-actions {
  position: absolute;
  top: 0;
  right: 0;
}
.quick-search button {
  font-size: 20px;
  height: 40px;
  line-height: 40px;
  padding: 0 0;
  text-align: center;
  width: 100px;
}
/*#endregion*/
/*#region MAXIGRID
----------------------------------*/
.maxigrid table {
  width: 100%;
  line-height: 18px;
}
.maxigrid-loading {
  text-align: center;
  position: absolute;
  font-size: 20px;
  font-family: "Segoe UI", Verdana, Helvetica, Sans-Serif;
}
.maxigrid-pager {
  position: relative;
  margin: 30px 15px 0 15px;
}
.maxigrid-pager-total-container {
  position: absolute;
  left: 0;
  top: 0;
  line-height: 30px;
}
.maxigid-pager-sizes-container {
  position: absolute;
  right: 0;
  top: 0;
  line-height: 30px;
}
.maxigrid-pager-navi-container {
  text-align: center;
}
.maxigrid-pager-navi {
  display: inline-block;
  white-space: nowrap;
}
.maxigrid-pager-navi span {
  display: inline-block;
  height: 30px;
  line-height: 30px;
}
.maxigrid-pager-navi-button {
  padding: 0 15px;
  background: #999;
  color: #fff;
  font-weight: bold;
  margin: 0;
}
input[type=text].maxigrid-pager-current-page {
  border: 1px solid #ccc;
  margin: 0;
  height: 30px;
  line-height: 28px;
  width: 60px;
}
.maxigrid em {
  font-weight: bold;
  font-style: normal;
}
.maxigrid th {
  font-weight: 600;
  position: relative;
}
.maxigrid th,
.maxigrid td {
  padding: 8px 15px;
  -webkit-transition: background 0.2s;
  -moz-transition: background 0.2s;
  -ms-transition: background 0.2s;
  -o-transition: background 0.2s;
  transition: background 0.2s;
}
.maxigrid td {
  border-top: 1px solid #f5f3ef;
  color: #4c4c4c;
}
.maxigrid tr:hover td {
  background: #f5f3ef;
}
.grid-20 .maxigrid th:first-child,
.grid-20 .maxigrid td:first-child {
  padding-left: 20px;
}
.grid-20 .maxigrid-pager {
  margin-left: 20px;
}
thead th.sortable {
  cursor: pointer;
}
thead .sort {
  background: url(icons/sort.png) no-repeat 4px 5px;
  display: block;
  height: 18px;
  left: 50%;
  overflow: hidden;
  position: absolute;
  text-indent: -9999px;
  width: 18px;
  margin-left: -9px;
}
thead .sort.asc {
  top: -12px;
}
thead .sorted.asc .sort.asc {
  background-position: -96px 5px;
}
thead .sort.desc {
  background-position: 4px -95px;
  bottom: -14px;
}
thead .sorted.desc .sort.desc {
  background-position: -96px -95px;
}
.grid-with-row-link .maxigrid tbody > tr {
  cursor: pointer;
}
.grid-with-row-link .maxigrid tbody > tr.read-only {
  cursor: default;
}
.grid-with-dark-header th {
  background: #4c4c4c;
  color: #fafafa;
}
.grid-dark .maxigrid td {
  border-top: 1px solid #E8E5DF;
}
.grid-dark .maxigrid tbody tr:last-child td {
  border-bottom: 1px solid #E8E5DF;
}
.grid-dark .maxigrid tr:hover td {
  background: #E8E5DF;
}
.grid-dark .maxigrid tr.active td {
  background: #E8E5DF;
}
.grid-dark .maxigrid-pager {
  margin-top: 25px;
  margin-bottom: 10px;
}
.grid-dark .maxigrid-pager-navi-button {
  color: #4c4c4c;
  background: none;
  cursor: pointer;
  font-size: 20px;
}
.grid-dark input[type=text].maxigrid-pager-current-page {
  border-color: #E8E5DF;
}
.col-edit a,
.col-delete a {
  display: block;
  width: 40px;
}
.col-edit,
.col-delete {
  width: 70px;
  text-align: center;
}
/*
.col-delete a { color: #f00; }
    */
/*#endregion*/
.col-buttons {
  position: absolute;
  top: 0;
  right: 0;
  width: 100px;
  height: 100%;
  overflow: hidden;
}
.col-buttons .button {
  font-size: 21px;
  text-align: center;
  color: #4c4c4c;
  padding: 30px 40px;
  line-height: 20px;
}
.col-buttons .button span {
  font-size: 10px;
}
.col-buttons .button.disabled {
  cursor: not-allowed;
  color: #ccc;
}
.col-buttons .button:hover {
  background-color: #E2E0DA;
}
/*#region PRODUCTS*/
.products .view,
.products .edit,
.products select,
.products input {
  width: 95%;
}
.products .product-basic-info,
.products .product-nutrition-info,
.products .product-additional-info,
.products .product-logistic-info {
  padding: 20px 0 25px;
  position: relative;
  min-height: 0;
  z-index: 8;
}
.products .product-basic-info .form-item > label,
.products .product-nutrition-info .form-item > label,
.products .product-additional-info .form-item > label,
.products .product-logistic-info .form-item > label {
  width: 50%;
}
.products .product-basic-info .form-item > div,
.products .product-nutrition-info .form-item > div,
.products .product-additional-info .form-item > div,
.products .product-logistic-info .form-item > div {
  position: relative;
  width: 50%;
}
.products .product-basic-info {
  position: relative;
}
.products .product-basic-info .form-item > label {
  width: 35%;
}
.products .product-basic-info .form-item > div {
  width: 65%;
}
.products .product-basic-info #xelect-for-BrandId,
.products .product-basic-info #xelect-for-ManufacturerId,
.products .product-basic-info #xelect-for-SegmentId {
  width: 95%;
}
.products .product-basic-info .codes {
  width: 100% !important;
  margin-top: 5px;
  margin-bottom: 5px;
}
.products .product-basic-info .codes .row {
  padding-top: 10px;
}
.products .product-basic-info .codes .col {
  padding: 0;
  margin-right: 12px;
}
.products .product-basic-info .codes .col-data {
  width: 123px;
}
.products .product-basic-info .codes .col-data.col-data-type {
  margin-right: 18px;
}
.products .product-basic-info .codes .col-data.col-data-code {
  width: 115px;
}
.products .product-basic-info .codes .btn-product-generate {
  line-height: 34px;
  background: #999;
}
.products .product-basic-info .codes .user-input {
  width: 100%;
}
.products .product-basic-info .btn-save-row {
  width: 100px;
  margin-top: 10px;
  float: right;
}
.products .product-basic-info .btn-save {
  width: 100%;
}
.products .product-basic-info .secondary-eans-rows .secondary-ean-row {
  padding-bottom: 5px;
}
.products .product-basic-info .secondary-eans-rows .ean-display {
  padding-right: 10px;
}
.products .product-basic-info .secondary-eans-rows .ean-remove {
  cursor: pointer;
}
.products .product-basic-info .secondary-eans-rows .hidden-from-layout {
  display: none;
}
.products .product-basic-info .secondary-eans-rows .show-all-rows {
  cursor: pointer;
}
.products .product-basic-info.read-only .secondary-eans-rows .ean-remove {
  display: none;
}
.products .product-nutrition-info .form-item > label {
  width: 40%;
}
.products .product-nutrition-info .form-item > div {
  position: relative;
  width: 60%;
}
.products .product-nutrition-info .col-pos-3 .form-item > label {
  width: 38%;
}
.products .product-nutrition-info .unit-container input {
  width: 175px;
}
.products .detailed-search {
  /*display: none;
        background-color: @bg-color;*/
}
.products .detailed-search .detailed-search-content {
  padding-top: 20px;
  padding-bottom: 30px;
  position: relative;
}
.products .detailed-search .detailed-search-content .col-buttons-placeholder {
  width: 100px;
}
.products .detailed-search .detailed-search-content .col-assortment-filters {
  width: 500px;
}
.products .detailed-search .detailed-search-content .col-product-filters {
  width: 535px;
}
.products .detailed-search .button {
  -moz-transition: background 0.2s;
  -o-transition: background 0.2s;
  -webkit-transition: background 0.2s;
  transition: background 0.2s;
}
.products .detailed-search .button:hover {
  background-color: #E2E0DA;
}
.products .detailed-search .segments-tree li > ul {
  margin-left: 20px;
}
.products .detailed-search .xelect {
  display: block;
}
.products .show-detailed-search {
  position: absolute;
  top: 0;
  right: 100px;
}
.products .show-detailed-search a {
  color: #4c4c4c;
  display: block;
  font-size: 20px;
  height: 40px;
  line-height: 40px;
  position: relative;
  width: 80px;
  text-align: center;
  -webkit-transition: transform 0.2s;
  -moz-transition: transform 0.2s;
  -ms-transition: transform 0.2s;
  -o-transition: transform 0.2s;
  transition: transform 0.2s;
}
.products .expanded .show-detailed-search a {
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
  line-height: 34px;
}
.products .period-presets {
  background: #fff;
  position: absolute;
  top: 34px;
  width: 100%;
  z-index: 1;
  margin-top: 5px;
  -webkit-box-shadow: 0 0 5px #ccc;
  -moz-box-shadow: 0 0 5px #ccc;
  box-shadow: 0 0 5px #ccc;
}
.products .period-presets li {
  padding: 0 10px;
}
.products .period-presets li:hover {
  background: #E2E0DA;
}
.product-additional-info .text-area-container,
.product-additional-info .text-area {
  min-height: 55px;
}
.product-additional-info .text-area-container .view {
  max-height: 50px;
  cursor: pointer;
}
.product-additional-info .text-area {
  width: 100%;
  overflow: hidden;
  resize: none;
  cursor: pointer;
}
.product-additional-info .col-textareas .form-item > label {
  width: 30% !important;
}
.product-additional-info .col-textareas .form-item > div {
  width: 70% !important;
}
.single-view .product-additional-info .form-item > label,
.single-view .product-logistic-info .form-item > label {
  width: 50%;
}
.single-view .product-additional-info .form-item > div,
.single-view .product-logistic-info .form-item > div {
  position: relative;
  width: 50%;
}
.single-view .product-additional-info #xelect-for-LogisticsInfo_WarehouseGroupId,
.single-view .product-logistic-info #xelect-for-LogisticsInfo_WarehouseGroupId {
  width: 95%;
}
.single-view .col-textareas .form-item > label {
  width: 30% !important;
}
.single-view .col-textareas .form-item > div {
  width: 70% !important;
}
.sortiment-codes span {
  display: inline-block;
  border: 1px solid #ccc;
  font-weight: bold;
  min-width: 26px;
  padding: 0 5px;
  line-height: 26px;
  text-align: center;
  -moz-transition: all 0.2s;
  -o-transition: all 0.2s;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}
.sortiment-codes input[type=checkbox].assortment-xelect:checked + span,
.sortiment-codes span.selected {
  background: #008000;
  color: #fff;
  border-color: #008000;
}
.sortiment-codes .selectable {
  cursor: pointer;
}
.sortiment-codes .selectable:hover {
  border-color: grey;
}
.select-assortment-codes span {
  cursor: pointer;
}
.select-assortments-from {
  height: 10px;
  background: #F1EFEC;
  margin-top: 5px;
  cursor: pointer;
  -moz-transition: all 0.2s;
  -o-transition: all 0.2s;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}
.select-assortments-from.active {
  background: #008000;
}
.in-e-store {
  text-align: center;
  border: 1px solid #ccc;
  line-height: 26px;
  -moz-transition: all 0.2s;
  -o-transition: all 0.2s;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}
input[type=checkbox].in-e-store-xelect:checked + span,
.in-e-store.active {
  border-color: #f00;
  color: #fff;
  background: #f00;
}
.index .button-bar a {
  display: block;
  float: left;
  padding: 25px 15px 20px 15px;
}
.index thead th {
  padding-top: 15px;
  padding-bottom: 25px;
}
.products-list {
  /*
    .c-windows .icon-windows-darker {
        background-position: 0 0;
    }
    */
}
.products-list .sortiment-codes {
  white-space: nowrap;
  right: 0;
  padding-right: 50px;
  height: 48px;
  position: absolute;
  top: 0;
  margin-top: -4px;
}
.products-list .c-taisnimetus {
  width: 250px;
}
.products-list .c-ean {
  width: 130px;
}
.products-list .c-noomen {
  width: 100px;
}
.products-list th.c-windows {
  padding-left: 0;
}
.products-list td.c-windows {
  text-align: center;
  width: 30px;
  position: relative;
  padding: 0;
  padding-right: 15px;
}
.products-list td.c-windows .icon-windows {
  cursor: pointer;
  position: relative;
  z-index: 1;
  color: #999;
}
.price-schemes .comma-separated-list.warehouses span {
  color: #bbb;
}
.price-schemes .comma-separated-list.warehouses span.selected {
  color: inherit;
}
.product-units .col-amount {
  white-space: nowrap;
}
.product-units .col-width,
.product-units .col-height,
.product-units .col-depth,
.product-units .col-weight {
  text-align: right;
}
.product-units .col-materials .materials-container {
  position: absolute;
  white-space: nowrap;
  right: 0;
  background: #fff;
  display: none;
  border: 1px solid #ccc;
  -webkit-box-shadow: rgba(0, 0, 0, 0.5) 0 0 10px;
  -ms-box-shadow: rgba(0, 0, 0, 0.5) 0 0 10px;
  box-shadow: rgba(0, 0, 0, 0.5) 0 0 10px;
}
.product-units .col-materials .materials-container > div {
  padding: 0 20px;
  line-height: 34px;
}
.product-unit-details .ac-subunit {
  width: 100%;
}
/*#endregion*/
/*#region locations*/
.locations .detailed-search {
  /*display: none;
        background-color: @bg-color;*/
}
.locations .detailed-search .detailed-search-content {
  padding-top: 20px;
  padding-bottom: 30px;
  position: relative;
  min-height: 250px;
}
.locations .detailed-search .detailed-search-content .col-buttons-placeholder {
  width: 100px;
}
.locations .detailed-search .detailed-search-content .col-assortment-filters {
  width: 500px;
}
.locations .detailed-search .detailed-search-content .col-product-filters {
  width: 535px;
}
.locations .detailed-search .button {
  -moz-transition: background 0.2s;
  -o-transition: background 0.2s;
  -webkit-transition: background 0.2s;
  transition: background 0.2s;
}
.locations .detailed-search .button:hover {
  background-color: #E2E0DA;
}
.locations .detailed-search .xelect {
  display: block;
}
.locations .detailed-search .form-item > label {
  width: 35%;
}
.locations .detailed-search .form-item > div {
  width: 65%;
}
.locations .show-detailed-search {
  position: absolute;
  top: 0;
  right: 100px;
}
.locations .show-detailed-search a {
  color: #4c4c4c;
  display: block;
  font-size: 20px;
  height: 40px;
  line-height: 40px;
  position: relative;
  width: 80px;
  text-align: center;
  -webkit-transition: transform 0.2s;
  -moz-transition: transform 0.2s;
  -ms-transition: transform 0.2s;
  -o-transition: transform 0.2s;
  transition: transform 0.2s;
}
.locations .expanded .show-detailed-search a {
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
  line-height: 34px;
}
.locations-list {
  /*.c-taisnimetus {
        width: 250px;
    }

    .c-ean {
        width: 130px;
    }

    .c-noomen {
        width: 100px;
    }*/
}
.locations-list th.c-windows {
  padding-left: 0;
}
.locations-list td.c-windows {
  text-align: center;
  width: 30px;
  position: relative;
  padding: 0;
  padding-right: 15px;
}
.locations-list td.c-windows .icon-windows {
  cursor: pointer;
  position: relative;
  z-index: 1;
  color: #999;
}
.inline-form-container .form-item {
  -moz-transition: margin-top 0.2s;
  -o-transition: margin-top 0.2s;
  -webkit-transition: margin-top 0.2s;
  transition: margin-top 0.2s;
  /*
        > div {
            .transition(min-height, @transition-length);
        }
        */
}
.inline-form-container .form-item .view {
  padding-top: 5px;
  padding-left: 10px;
  -moz-transition: padding-top 0.2s;
  -o-transition: padding-top 0.2s;
  -webkit-transition: padding-top 0.2s;
  transition: padding-top 0.2s;
  -moz-transition: padding-left 0.2s;
  -o-transition: padding-left 0.2s;
  -webkit-transition: padding-left 0.2s;
  transition: padding-left 0.2s;
  overflow: hidden;
  -ms-text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
}
.inline-form-container .form-item .edit {
  top: 0;
  position: absolute;
  display: none;
}
.inline-form-container .form-item .field-validation-valid {
  opacity: 0;
  -moz-transition: opacity 0.2s;
  -o-transition: opacity 0.2s;
  -webkit-transition: opacity 0.2s;
  transition: opacity 0.2s;
}
.inline-form-container .form-item .field-validation-error {
  opacity: 1;
}
.inline-form-container .form-item select,
.inline-form-container .form-item input {
  -moz-transition: background-color 0.2s;
  -o-transition: background-color 0.2s;
  -webkit-transition: background-color 0.2s;
  transition: background-color 0.2s;
}
.inline-form-container .form-item select {
  padding-left: 6px;
}
.inline-form-container .form-item > .text,
.inline-form-container .form-item > label {
  -moz-transition: padding-top 0.2s, min-height 0.2s;
  -o-transition: padding-top 0.2s, min-height 0.2s;
  -webkit-transition: padding-top 0.2s, min-height 0.2s;
  transition: padding-top 0.2s, min-height 0.2s;
}
.inline-form-container .form-item .edit-checkbox {
  padding-left: 10px;
  padding-top: 5px;
}
.inline-form-container.read-only .view {
  padding-top: 0;
  padding-bottom: 2px;
}
.location-detail .address-separator {
  margin: 40px 40px 20px 40px;
  border: 0;
  height: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}
.location-detail .col-left {
  width: 535px;
}
.location-detail .col-right {
  width: 500px;
}
.location-detail .form-item > label {
  width: 30%;
}
.location-detail .form-item > div {
  width: 70%;
  position: relative;
}
.location-detail .form-item .view,
.location-detail .form-item .edit,
.location-detail .form-item select,
.location-detail .form-item input,
.location-detail .form-item #xelect-for-singleSelect {
  width: 95%;
}
.location-detail .form-item .input-number {
  width: 50%;
}
.location-detail .form-item .has-datepicker {
  width: 110px;
}
.location-attributes-form .form-item > label {
  width: 45%;
}
.location-attributes-form .form-item > div {
  width: 55%;
}
.location-attributes-form .col-left {
  width: 535px;
}
.location-attributes-form .col-right {
  width: 500px;
}
.location-attributes-form .read-only {
  background-color: #F8F8F8  !important;
}
.location-attributes-form.read-only .view {
  padding-top: 0;
}
.location-equipments .remarks {
  max-width: 300px;
}
.opening-times-container table.opening-times-table {
  width: 100%;
}
.opening-times-container table.opening-times-table th {
  font-weight: 600;
  padding-top: 5px;
  padding-bottom: 5px;
}
.opening-times-container table.opening-times-table th,
.opening-times-container table.opening-times-table td {
  border-bottom: 1px solid #E8E5DF;
}
.opening-times-container table.opening-times-table .field-validation-error {
  padding-left: 3px;
}
.opening-times-form tr td {
  width: 20%;
}
.opening-times-form .col-left {
  width: 535px;
}
.opening-times-form .col-right {
  width: 500px;
}
.opening-times-form .read-only {
  background-color: #F8F8F8  !important;
}
.opening-times-form .view-edit-container {
  position: relative;
  height: 35px;
}
.opening-times-form .view-edit-container.view-edit-container-is-opened .edit {
  padding-left: 5px;
  padding-top: 5px;
}
.opening-times-form .view {
  padding-left: 5px !important;
}
.opening-times-form .edit .has-timepicker {
  width: 75px;
  padding: 3px;
  padding-left: 5px;
  background: #fff url('/Images/icons/time.png') no-repeat 100% 50%;
  /*cursor:pointer;*/
}
.opening-times-form .edit .has-timepicker.read-only {
  /*cursor:auto;*/
}
.opening-times-form input.cb-is-opened.read-only + span {
  background: grey !important;
}
.location-attributes-form .col-buttons {
  height: 200px;
}
.location-assortment-form .col-main {
  width: 1035px;
}
.location-assortment-form .col-left {
  width: 500px;
}
.location-assortment-form .col-right {
  width: 500px;
}
.location-assortment-form .view {
  /*padding-top: 5px;*/
  top: 0;
  -moz-transition: padding-top 0.2s;
  -o-transition: padding-top 0.2s;
  -webkit-transition: padding-top 0.2s;
  transition: padding-top 0.2s;
}
.location-assortment-form .edit {
  position: absolute;
  top: 0;
  display: none;
}
.location-assortment-form .sortiment-codes {
  width: auto;
}
.location-assortment-form .form-item {
  margin-top: 5px;
}
.location-assortment-form .form-item > label {
  padding-top: 5px;
  min-height: 29px;
}
.properties-table .button-bar-attributes {
  padding: 10px 15px 0 15px;
}
.properties-table .button-bar-attributes .terminal-header {
  font-weight: bold;
  float: left;
}
.properties-table .button-bar-attributes .add-terminal-attr {
  float: right;
}
.terminal-attribute-save .sortiment-codes span.field-validation-error,
.terminal-attribute-save .sortiment-codes span.field-validation-valid {
  border: 0;
}
.terminal-description {
  width: 100%;
}
/*#region SETTINGS
----------------------------------*/
.settings-content {
  padding-top: 10px;
}
.settings-content .cb-require-uniqueness,
.settings-content .button-bar a,
.settings-content h3 {
  -moz-transition: padding 0.2s;
  -o-transition: padding 0.2s;
  -webkit-transition: padding 0.2s;
  transition: padding 0.2s;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.settings-content .expandable.expanded > h3.toggle,
.settings-content h3.toggle:hover {
  background: #F1EFEC;
}
.settings-content .expandable.expanded > .button-bar a,
.settings-content .expandable.expanded > h3,
.settings-content .expandable-clv.expanded .cb-require-uniqueness {
  padding-top: 25px;
  padding-bottom: 20px;
}
.settings-content .body.l1 {
  margin-left: 20px;
}
.settings-content .cb-require-uniqueness {
  float: left;
  padding-right: 20px;
  padding-top: 10px;
}
.settings-content .link-add-classifier {
  float: right;
}
.settings-content .newly-added {
  background-color: #008000;
}
.settings-content .newly-added.newly-added-hide {
  background-color: #F1EFEC;
  -moz-transition: background-color 2s;
  -o-transition: background-color 2s;
  -webkit-transition: background-color 2s;
  transition: background-color 2s;
}
.maxigrid-users .c-username {
  width: 150px;
}
.maxigrid-users .c-fullname {
  width: 150px;
}
.maxigrid-users .c-organization {
  width: 150px;
}
.maxigrid-users .c-cooperative {
  width: 150px;
}
.maxigrid-users .c-roles {
  /* auto */
}
.maxigrid-users .c-status {
  width: 100px;
}
.maxigrid-roles .c-name {
  width: 180px;
}
.maxigrid-roles .c-rights {
  /*auto*/
}
.maxigrid-roles .c-status {
  width: 100px;
}
.account-details #xelect-for-CooperativeId,
.account-details #xelect-for-Locations,
.account-details #xelect-for-Username {
  width: 100%;
}
.settings-content .expandable .toggle i.fa {
  margin-right: 10px;
}
/*#endregion*/
.price-scheme-details #xelect-for-BuyInGroupName,
.price-scheme-details #xelect-for-ContractorName {
  width: 100%;
}
/* #region CONTACTS
----------------------------------*/
.contacts.contacts-list tbody tr.status-disabled td {
  color: #aaa;
}
.contact-detail .form-item {
  -moz-transition: margin-top 0.2s;
  -o-transition: margin-top 0.2s;
  -webkit-transition: margin-top 0.2s;
  transition: margin-top 0.2s;
}
.contact-detail .view {
  padding-top: 5px;
  padding-left: 10px;
  -moz-transition: padding-top 0.2s;
  -o-transition: padding-top 0.2s;
  -webkit-transition: padding-top 0.2s;
  transition: padding-top 0.2s;
}
.contact-detail.read-only .view {
  padding-top: 0;
}
.contact-detail .edit {
  position: absolute;
  top: 0;
  display: none;
}
.contact-detail .form-item > .text,
.contact-detail .form-item > label {
  -moz-transition: min-height 0.2s;
  -o-transition: min-height 0.2s;
  -webkit-transition: min-height 0.2s;
  transition: min-height 0.2s;
  -moz-transition: paddint-top 0.2s;
  -o-transition: paddint-top 0.2s;
  -webkit-transition: paddint-top 0.2s;
  transition: paddint-top 0.2s;
}
.contacts.single-view .contact-addresses .col-type,
.contacts.single-view .contact-lines .col-type,
.contacts.single-view .contact-codes .col-type {
  width: 250px;
}
.contact-code-details #xelect-for-ValidFor {
  width: 100%;
}
.contact-address-details #xelect-for-InADS {
  width: 100%;
}
/* #endregion */
/* #region MODALLINK 
----------------------------------*/
.sparkling-modal-overlay {
  background: rgba(0, 0, 0, 0.3);
}
.sparkling-modal-frame {
  background: #fff;
  border: 0px solid #000;
  -webkit-box-shadow: rgba(0, 0, 0, 0.5) 0 0 4px;
  -ms-box-shadow: rgba(0, 0, 0, 0.5) 0 0 4px;
}
.sparkling-modal-title {
  background: #F1EFEC;
}
.sparkling-modal-title span {
  font-size: 20px;
  padding: 20px;
  float: left;
  line-height: 20px;
}
.sparkling-modal-close {
  padding: 0 23px;
  line-height: 60px;
  float: right;
  cursor: pointer;
  font-size: 14px;
  display: block;
  -moz-transition: background 0.2s;
  -o-transition: background 0.2s;
  -webkit-transition: background 0.2s;
  transition: background 0.2s;
}
.sparkling-modal-close:hover {
  background: #E2E0DA;
}
.sparkling-modal-content {
  padding: 0;
}
/* #endregion */
/* #region EXPANDABLE
----------------------------------*/
.body-actions {
  margin-top: 0;
  line-height: 28px;
  position: absolute;
  top: 0;
  right: 20px;
}
.body-actions a {
  margin-left: 30px;
}
.body-actions a i {
  margin-right: 10px;
}
.expandable {
  position: relative;
}
.expandable > .body {
  display: none;
}
.expandable.expanded > .body {
  display: block;
}
.expandable > .show-when-expanded {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s linear 0.3s, opacity 0.3s linear;
}
.expandable.expanded > .show-when-expanded {
  visibility: visible;
  opacity: 1;
  transition-delay: 0s;
}
.expandable .toggle {
  cursor: pointer;
}
.expandable.disabled .toggle {
  cursor: not-allowed;
  color: #ccc;
}
.expandable .toggle i.fa {
  transition: transform 0.2s;
}
.expandable.expanded > .toggle i.fa {
  transform: rotate(90deg);
}
.expandable > .button-bar {
  position: absolute;
  top: 0;
  right: 0;
}
.expandable > .button-bar a,
.expandable > .button-bar div.bar-item {
  display: block;
  float: left;
  padding: 10px 15px 20px 15px;
}
/*#endregion*/
/*#region JQUERY UI
----------------------------------*/
.ac-highlight {
  font-weight: bold;
}
.ac-disabled-item {
  color: #666;
  font-style: italic;
}
.ui-datepicker {
  background: #fff;
  border: 1px solid #999;
  display: none;
  width: 196px;
  z-index: 31 !important;
}
.ui-datepicker-header {
  background: #F1EFEC;
  border-bottom: 1px solid #999;
  font-size: 14px;
  height: 30px;
  line-height: 28px;
  position: relative;
  text-align: center;
}
.ui-datepicker-prev,
.ui-datepicker-next {
  background: url('icons/datepicker-prev-next.png') no-repeat 50% 7px;
  cursor: pointer;
  display: block;
  height: 28px;
  position: absolute;
  top: 0;
  width: 28px;
}
.ui-datepicker-prev {
  left: 0;
}
.ui-datepicker-next {
  background-position: 50% -73px;
  right: 0;
}
.ui-datepicker-prev span,
.ui-datepicker-next span {
  display: none;
}
.ui-datepicker-calendar {
  width: 100%;
}
.ui-datepicker-calendar td,
.ui-datepicker-calendar th {
  border-top: 1px solid #ccc;
  border-left: 1px solid #ccc;
  font-size: 14px;
  height: 26px;
  line-height: 24px;
  text-align: center;
  width: 14.28%;
}
.ui-datepicker-calendar td:first-child,
.ui-datepicker-calendar th:first-child {
  border-left: 0;
}
.ui-datepicker-calendar thead td,
.ui-datepicker-calendar thead th {
  border-top: 0;
}
.ui-datepicker-calendar a {
  color: #000;
  display: block;
  height: 25px;
  line-height: 25px;
}
.ui-datepicker-calendar .ui-priority-secondary {
  color: #ccc;
}
.ui-datepicker-calendar a:hover,
.ui-datepicker-calendar .ui-state-active,
.ui-datepicker-calendar .active .ui-state-default {
  background: #f00;
  color: #fff;
  text-decoration: none;
}
.ui-state-disabled {
  color: #aaa;
}
.ui-datepicker-multi-2 .ui-datepicker-group {
  width: 50%;
  float: left;
}
.ui-datepicker-group-last .ui-datepicker-calendar td:first-child,
.ui-datepicker-group-last .ui-datepicker-calendar th:first-child {
  border-left: 1px solid #999;
}
/*#endregion*/
/* #region LOADING ANIMATION
----------------------------------*/
.loading-animation,
.loading-animation .inner {
  -webkit-animation-timing-function: linear;
  -moz-animation-timing-function: linear;
  animation-timing-function: linear;
  background: url(images/loading.png) no-repeat 0 0;
  height: 147px;
  left: 50%;
  margin: -73px 0 0 -73px;
  top: 50%;
  margin: auto;
  width: 147px;
}
.loading-animation {
  display: none;
  -webkit-transition-duration: .5s;
  -moz-transition-duration: .5s;
  transition-duration: .5s;
  -moz-animation: loading 1.4s infinite;
  -o-animation: loading 1.4s infinite;
  -webkit-animation: loading 1.4s infinite;
  animation: loading 1.4s infinite;
  -webkit-animation-timing-function: linear;
  -moz-animation-timing-function: linear;
  animation-timing-function: linear;
}
.loading-animation .inner {
  -moz-animation: loading-reverse 0.7s infinite;
  -webkit-animation: loading-reverse 0.7s infinite;
  -o-animation: loading-reverse 0.7s infinite;
  animation: loading-reverse 0.7s infinite;
  -webkit-animation-timing-function: linear;
  -moz-animation-timing-function: linear;
  animation-timing-function: linear;
  background-position: 0 -150px;
  left: 0;
  position: absolute;
  margin: 0;
  top: 0;
}
@-webkit-keyframes loading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@-moz-keyframes loading {
  0% {
    -moz-transform: rotate(0deg);
  }
  100% {
    -moz-transform: rotate(360deg);
  }
}
@-o-keyframes loading {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes loading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@-webkit-keyframes loading-reverse {
  0% {
    -webkit-transform: rotate(360deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
  }
}
@-moz-keyframes loading-reverse {
  0% {
    -moz-transform: rotate(360deg);
  }
  100% {
    -moz-transform: rotate(0deg);
  }
}
@-o-keyframes loading-reverse {
  0% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
@keyframes loading-reverse {
  0% {
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
  }
  100% {
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
  }
}
/* #endregion */
/*#region MULTISELECT
----------------------------------*/
.ac-searching-text,
.ac-no-results-text,
.ac-hint-text {
  display: none;
}
.xelect {
  display: inline-block;
  position: relative;
}
.xelect input[type=text] {
  width: 100%;
  z-index: 20;
  position: relative;
  padding-right: 50px;
}
.xelect .xelect-options {
  height: 34px;
  position: absolute;
  width: 100%;
}
.xelect .xelect-options > div.ul-wrapper {
  position: relative;
  min-height: 34px;
  padding-top: 34px;
  margin-top: -34px;
}
.xelect .xelect-options > div.ul-wrapper > .help-text {
  height: 34px;
  line-height: 34px;
  padding: 0 10px;
  font-style: italic;
  background: #fff;
  width: 100%;
  color: #777;
}
.xelect .xelect-options ul {
  display: none;
  z-index: 1;
  padding: 0;
  margin: 0;
  list-style-type: none;
  position: relative;
  width: 100%;
  top: 0;
  left: 0;
  background: #fff;
}
.xelect .xelect-options ul li {
  padding: 0 10px;
  line-height: 34px;
  display: block;
  white-space: nowrap;
  -ms-text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  overflow: hidden;
}
.xelect .xelect-options ul li.no-match {
  display: none;
}
.xelect .xelect-options ul li.selected {
    background-color: #ccc
}
.xelect .xelect-options ul li.hover,
.xelect .xelect-options ul li:hover {
  background-color: #E2E0DA;
}
.xelect .xelect-options ul li.disabled {
  background-color: #f0f0f0;
  color: #bbb;
}
.xelect .xelect-title {
  height: 34px;
  position: absolute;
  bottom: 0;
  right: 0;
  overflow: hidden;
  z-index: 21;
}
.xelect .xelect-title > span {
  display: none;
}
.xelect .xelect-title .clear-value,
.xelect .xelect-title .chevron {
  float:right;
  line-height: 34px;
  width: 30px;
  text-align: center;
  cursor: pointer;
  -moz-transition: all 0.2s;
  -o-transition: all 0.2s;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}
.xelect .xelect-title .clear-value:hover {
  background: #444;
  color: #fff;
}
.xelect .xelect-title.has-value .clear-value,
.xelect .xelect-title:not(.has-value) .chevron {
  margin-right: 0;
}
.xelect .xelect-title:not(.has-value) .clear-value,
.xelect .xelect-title.has-value .chevron {
  margin-right: -30px;
}


.xelect .xelect-selected-values .clear-value {
  position:absolute;
  top:0px;
  right:0px;
  width: 30px;
  text-align: center;
  cursor: pointer;
  -moz-transition: all 0.2s;
  -o-transition: all 0.2s;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}
.xelect .xelect-selected-values .clear-value:hover {
  background: #444;
  color: #fff;
}

.xelect ul.xelect-selected-values {
  list-style-type: none;
  padding: 0;
  margin: 0;
  width: 100%;
}
.xelect ul.xelect-selected-values li {
  position: relative;
  line-height: 26px;
}
.xelect ul.xelect-selected-values li p {
  background: #E2E0DA;
  margin: 0;
  margin-bottom: 1px;
  padding: 0 10px;
}
.xelect ul.xelect-selected-values li span {
  position: absolute;
  top: 0;
  right: 0;
  padding: 0 10px;
  cursor: pointer;
  font-size: 16px;
  line-height: 26px;
  -moz-transition: all 0.2s;
  -o-transition: all 0.2s;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}
.xelect ul.xelect-selected-values li:first-child {
  padding-top: 1px;
}
.xelect ul.xelect-selected-values li:first-child span {
  top: 1px;
}
.xelect ul.xelect-selected-values li.active p,
.xelect ul.xelect-selected-values li p.hover {
  background: #444;
  color: #fff;
}
.xelect ul.xelect-selected-values li.disabled span,
.xelect ul.xelect-selected-values li.disabled p {
  background: #f0f0f0;
  color: #bbb;
  cursor: default;
}
.xelect ul.xelect-selected-values li.disabled span:hover {
  background: none;
}
.xelect.opened .xelect-options > div.ul-wrapper {
  z-index: 30;
  -webkit-box-shadow: 0 0 5px #ccc;
  -moz-box-shadow: 0 0 5px #ccc;
  box-shadow: 0 0 5px #ccc;
}
.xelect.opened .xelect-options ul {
  display: block;
  z-index: 99;
}
.xelect.opened > div > input[type=text] {
  z-index: 40;
}
.xelect.opened > div > .xelect-title {
  z-index: 50;
}
.xelect.disabled .xelect-title {
  color: #aaa;
  cursor: not-allowed;
}
.xelect.disabled ul.xelect-selected-values li span,
.xelect.disabled ul.xelect-selected-values li p {
  background: #f0f0f0;
  color: #bbb;
  cursor: default;
}
.xelect.disabled ul.xelect-selected-values li span:hover {
  background: none;
}
.bg ul.xelect-selected-values {
  background: #fff;
}
.bg ul.xelect-selected-values li p {
  margin: 1px;
  margin-top: 0;
}
.bg ul.xelect-selected-values li span {
  right: 1px;
}
/*#endregion*/
.blocker {
  display: none;
  position: fixed;
  background: #fff;
  width: 100%;
  left: 0;
  top: 0;
  height: 100%;
  z-index: 9;
}
.multilevel-table {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  position: relative;
  background: #F1EFEC;
}
.multilevel-table .indent-0 .col-first {
  padding-left: 15px;
}
.multilevel-table .indent-1 .col-first {
  padding-left: 30px;
}
.multilevel-table .indent-2 .col-first {
  padding-left: 45px;
}
.multilevel-table .indent-3 .col-first {
  padding-left: 60px;
}
.multilevel-table .indent-1,
.multilevel-table .indent-2,
.multilevel-table .indent-3 {
  display: none;
}
.multilevel-table .expand-button,
.multilevel-table .collapse-button {
  top: 0;
  position: absolute;
}
.multilevel-table .expand-button {
  display: block;
}
.multilevel-table .collapse-button {
  display: none;
}
.multilevel-table .row.opened .expand-button {
  display: none;
}
.multilevel-table .row.opened .collapse-button {
  display: block;
}
.multilevel-table .head > div {
  font-weight: bold;
}
.multilevel-table .col-first-title {
  padding-left: 15px;
}
.multilevel-table .row {
  padding: 3px;
  border-bottom: 1px solid #E8E5DF;
}
.multilevel-table .row.parent-node,
.multilevel-table .actions {
  cursor: pointer;
}
.multilevel-table .row:hover {
  background: #E8E5DF;
}
.multilevel-table .button-container {
  font-size: 20px;
}
.multilevel-table .leaf-node .button-container {
  display: none;
}
.multilevel-table .item-action {
  padding: 15px;
}
.multilevel-table .item-action .fa {
  padding: 0 3px;
}
.multilevel-table .item-action:hover {
  text-decoration: underline;
}
.assortment-exceptions-header {
  padding: 15px 0;
}
.assortment-exceptions {
  /*.row[@display=block]:nth-child(odd) {
       background-color: white;
    }*/
}
.assortment-exceptions .segment,
.assortment-exceptions .sortiment,
.assortment-exceptions .starting-from,
.assortment-exceptions .actions {
  position: relative;
  display: inline-block;
}
.assortment-exceptions .segment {
  width: 50%;
}
.assortment-exceptions .sortiment {
  width: 20%;
}
.assortment-exceptions .starting-from {
  width: 20%;
}
.assortment-exceptions .actions {
  width: auto;
}
.assortment-exceptions .parent-node .sortiment-codes {
  display: none;
}
.assortment-exceptions .row.parent-node .actions {
  display: none;
}
.assortment-exceptions .row.leaf-node .starting-from {
  padding-left: 5px;
}
.assortment-exceptions .row.leaf-node .sortiment {
  padding-left: 10px;
}
.assortment-exceptions .row.leaf-node .actions {
  padding-left: 15px;
}
.save-assortment-exception-form #xelect-for-exception-segment-id {
  width: 95%;
}
.save-assortment-exception-form #exception-segment-id {
  width: 100%;
}
.save-assortment-exception-form .sortiment-codes {
  display: inline-block;
}
.ui-dialog {
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  padding: 0;
  outline: 0;
  z-index: 50;
}
.ui-dialog .ui-button {
  min-width: 100px;
}
.ui-dialog .ui-dialog-titlebar-close {
  visibility: hidden;
}
.ui-dialog .btn-cancel-textarea {
  background-color: white;
  color: black;
  margin-left: 10px;
}
.ui-dialog .btn-save-textarea {
  height: 50px;
}
/* Component containers
----------------------------------*/
.ui-widget {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1em;
}
.ui-widget .ui-widget {
  font-size: 1em;
}
.ui-widget input,
.ui-widget select,
.ui-widget textarea,
.ui-widget button {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1em;
}
.ui-widget-content {
  border: 1px solid #dddddd;
  background: #ffffff;
  color: #333333;
}
.ui-widget-content a {
  color: #333333;
}
.ui-widget-header {
  border: 1px solid #dddddd;
  background: #F1EFEC;
  color: #333333;
  font-weight: bold;
}
.ui-widget-header a {
  color: #333333;
}
.dialog-inner {
  padding: 20px;
  height: 100%;
}
.textarea-symbols .symbols-count-wrapper,
.textarea-symbols .symbols-left-wrapper {
  display: inline-block;
  padding-right: 10px;
}
.textarea-symbols .symbols-count,
.textarea-symbols .symbols-left {
  font-weight: bold;
}
.big-textarea {
  height: 95%;
  width: 100%;
  padding: 10px;
  margin-top: 10px;
}
.ui-dialog-titlebar-close {
  float: right;
}
.ui-dialog-titlebar {
  padding: 20px;
}
.ui-dialog-titlebar,
.ui-dialog-buttonpane {
  border: 0;
}
.csv-import-form .form-item > label {
  float: left;
  width: 20%;
}
.csv-import-form .form-item > div {
  float: left;
  width: 80%;
}
.csv-import-form .form-item .file-container {
  width: auto;
}
.csv-import-form .operation-log {
  padding: 5px;
  min-height: 500px;
  background-color: #F1EFEC;
}
.csv-import-form .statistic-form,
.csv-import-form .file-specific {
  opacity: 0;
  -moz-transition: opacity 0.2s;
  -o-transition: opacity 0.2s;
  -webkit-transition: opacity 0.2s;
  transition: opacity 0.2s;
}
.csv-import-form .progress-bar {
  position: relative;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #ed1846;
  visibility: visible;
  width: 0%;
}
.csv-import-form #mybutton {
  display: inline-block;
  float: left;
  overflow: hidden;
  position: relative;
  color: #222;
  padding: 5px;
  border: 1px solid #555;
}
.csv-import-form #fileupload {
  opacity: 0;
  font-size: 42px;
  position: absolute;
  right: 0;
  top: 0;
  cursor: pointer;
}
.csv-import-form #mytext {
  float: left;
  margin-top: 5px;
}
.csv-import-form .log-success {
  color: green;
}
.csv-import-form .log-error {
  color: red;
}
.csv-import-form .log-neutral {
  color: #333;
}
.csv-import-form .log-error-item {
  color: red;
  padding-left: 15px;
}
.csv-import-form .total-failed,
.csv-import-form .total-imported,
.csv-import-form .total-parsed {
  font-weight: bold;
}
.csv-import-form .statistic-form {
  margin-top: 10px;
  top: 20px;
  right: 50px;
  padding: 10px;
  position: absolute;
  border: 1px solid #E2E0DA;
  min-width: 200px;
}
.csv-import-form .btn-download-error-file,
.csv-import-form .btn-force-update {
  margin-top: 10px;
}
.row-separator {
  margin: 10px;
  color: grey;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}
.long-row {
  overflow: hidden;
  text-overflow: ellipsis;
}
.product-tree-form .head {
  overflow: hidden;
}
.product-tree-form .product-tree-header {
  font-weight: bold;
}
.product-tree-form .product-tree-header .col-first-title {
  padding-left: 15px;
}
.product-tree-form .item-col {
  display: inline-block;
  position: relative;
  float: left;
  padding: 5px;
}
.product-tree-form .item-col.segment {
  width: 40%;
}
.product-tree-form .item-col.code {
  width: 15%;
}
.product-tree-form .item-col.status {
  width: 15%;
}
.product-tree-form .item-col.actions {
  width: 30%;
}
.product-tree-form .btn:hover {
  background-color: green;
}
.product-tree-form .expand-button,
.product-tree-form .collapse-button {
  top: 5px;
}
.segment-code-container {
  display: inline-block;
  position: relative;
  background-color: background: #F1EFEC;
}
.segment-code-container .designation {
  text-align: left;
  max-width: 100px;
}
.segment-code-container .designation.designation-offset-0 {
  padding-left: 10px;
}
.segment-code-container .designation.designation-offset-2 {
  padding-left: 30px;
}
.segment-code-container .designation.designation-offset-5 {
  padding-left: 55px;
}
.segment-code-container .designation.designation-offset-7 {
  padding-left: 70px;
}
.segment-code-container .child-placeholder,
.segment-code-container .parent-code {
  position: absolute;
  top: 0;
  padding: 5px 10px;
  color: #999;
}
.segment-code-container .parent-code {
  left: 0;
}
.segment-code-container .child-placeholder {
  right: 0;
}
.btn-success {
  background-color: green;
}
.xelect .xelect-options ul li span.original-text-hidden {
  display: none;
}