﻿@text-color: #333;
@bg-color: #F1EFEC; // #F1EFEC
@bg-color-dark: #E2E0DA; // #E2E0DA
@textbox-height: 34px;
@textbox-padding: 0 10px;
@textbox-border: 0;
@red: #f00;
@green: #008000;
@transition-length: 0.2s;

.transition (@x, @duration) {
    -moz-transition: @x @duration;
    -o-transition: @x @duration;
    -webkit-transition: @x @duration;
    transition: @x @duration;
}

.noselect () {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

html{color: @text-color; height: 100%;}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td{margin:0;padding:0;}
table{border-collapse:collapse;border-spacing:0;}
fieldset,img{border:0;}
address,caption,cite,code,dfn,em,strong,th,var{font-style:normal;font-weight:normal;}
li{list-style:none;}
caption,th{text-align:left;}
h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal}
q:before,q:after{content:'';}
abbr,acronym {border:0;font-variant:normal;}
sup {vertical-align:top;}
sub {vertical-align:bottom;}
input,textarea,select{font-family:inherit;font-size:inherit;font-weight:inherit;}
img { vertical-align: top; }
strong { font-weight: bold; }
em { font-style: italic;}
.clear {clear: both;}

.row:before,
.row:after,
.clearfix:before,
.clearfix:after {
	content: " ";
	display: table;
}

.row:after,
.clearfix:after {
	clear: both;
}

.row-20 {  }
.row-40 {  }


* { outline: 0;  outline-color: transparent; outline-style: none; outline-width: 0; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
*:before, *:after { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }

::-ms-clear {
    display: none;
}

body {
	background: #fff;
	font: 14px/24px "Segoe UI", sans-serif;
	overflow-y: scroll;
}

a {
	color: @text-color;
	text-decoration: none;
}

a:hover {
	text-decoration: none;
}

a span {
	cursor: pointer;
}

h2 {
	font-size: 20px;
	font-weight: bold;
	margin: 20px 0 0 15px;
}

h2 i.fa { width: 10px; height: 12px; vertical-align: 10%; }

h3 {
    font-size: 16px;
	font-weight: bold;
	padding: 10px 0 10px 15px;
}

img, object, embed, iframe {
	vertical-align: top;
}

.body-content {
    padding-bottom: 100px;
}

.wrap {
	margin: auto;
	max-width: 1100px;
}

.hidden { display: none; }

.hidden-important { display: none !important; }

.bg { 
    background: @bg-color; 
    
    select, input[type=search], input[type=text], input[type=number], input[type=email], input[type=password], textarea {
        background-color: #fff;
    }
}
.comma-separated-list {

    span:after {
        content: ', ';
    }

    span:last-child:after {
        content: '';
    }
}

body.modal
{
    overflow: hidden;


    .body-content{
        overflow-y: auto;
        position: absolute; 
        top: 0;
        bottom: 50px;
        width: 100%;
        padding: 20px 20px;
    }

    .buttons {
        width: 100%;
        padding-top: 0;
        padding-left: 0;
        margin-left: -20px;
        height: 50px;
        position: fixed;
        bottom:0;
        border-top: 1px solid @bg-color;

        button,
        .button {
            line-height: 50px;
            padding: 0 20px;
            float: left;
        }
    }

    .buttons:after {
        content: ' ';
        display: table;
        clear:both;
    }
}
.col { float: left;}
.row-20 .col { padding-left:20px; padding-right: 20px; }
.row-40 .col { padding: 0 40px; }
/*
.row-40 .col:first-child { padding-left:80px; }
.row-40 .col:last-child { padding-right: 80px; }
    */

.col-10 { width: 10%; }
.col-25 { width: 25%; }
.col-27 { width: 27%; }
.col-30 { width: 30%; }
.col-33 { width: 33.3333%; }
.col-35 { width: 35%; }
.col-40 { width: 40%; }
.col-45 { width: 45%; }
.col-50 { width: 50%; }


/* #region FORM FIELDS
--------------------------------------- */

label.disabled {
    color: #999;
}

.form-item { margin-top: 10px; position: relative; }

.form-item:before,
.form-item:after {
	content: " ";
	display: table;
}

.form-item:after {
    clear: both;
}

.form-item > label {
    float: left;
    width: 30%;
}

.form-item > div {
    float: left;
    width: 70%;
}

.label-50 {
    .form-item > div,
    .form-item > label {
        width: 50%;
    }
}

.form-item > div.text {
    padding: 0 10px;
}

.form-item > div.text,
.form-item > label {
    min-height: 34px;
    padding-top: 5px; /* (34 - 24) / 2 */
}

.read-only {
    
    .form-item {
        margin-top: 5px;
    }

    .form-item > div.text,
    .form-item > label {
        min-height: 28px;
        padding-top: 0; /* (34 - 24) / 2 */
    }
}

label.placeholder {
	font-size: 14px;
	height: 36px;
	line-height: 36px;
	padding: 0;
	width: 100%;
	text-align: center;
}

input, textarea, button {
	font: 14px/24px "Segoe UI", sans-serif;
	background: #fff;
	color: @text-color;
}

input:disabled,
select:disabled
textarea:disabled {
	cursor: not-allowed;
}

select,
textarea,
input[type=search],
input[type=text],
input[type=number],
input[type=email],
input[type=password] {
	background: @bg-color;
	border: @textbox-border;
	height: @textbox-height;
	line-height: @textbox-height;
	padding: @textbox-padding;
}

textarea {
    line-height: normal;
    padding-top: 5px;
}

select {
    padding-left: 8px;
    /*
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    */
    text-indent: 0;
}

/*
input.search,
input[type=search] {
	background-image: url('icons/search.png');
    background-repeat: no-repeat;
    background-position: 100% 50%;
}
*/

button,
.button {
	-webkit-appearance: none;
	background: #f00 no-repeat 0 0;
	border: 0;
	border-radius: 0;
	color: #fff;
	cursor: pointer;
	display: inline-block;
	margin: 0;
	padding: 0 10px;
	font-size: 14px;
    line-height: 34px;
    font-weight: 400;
}

button:disabled {
    cursor:not-allowed;
    background: #ccc;
    color: #888
}

.disabled a {
    cursor: not-allowed;
}

.button.text-button
{
    background: none;
    color: @text-color;
}


input.has-datepicker,
input.daterangeinput {
	background-image: url('icons/calendar.png');
    background-repeat: no-repeat;
    background-position: 100% 50%;
}


input.has-datepicker {
    width: 120px;
}

input.daterangeinput {
    width: 200px;
}

input.w-100,
select.w-100 { width: 100%; }

// FANCY RADIO / CHECKBOX

div.checker,
div.radio {
	display: -moz-inline-box;
	display: inline-block;
	*display: inline;
	position: relative;
	zoom: 1;
	vertical-align: middle;
	/*background: #fff;*/
    border: 1px solid #333;
    width: 18px; 
    height: 18px;
    margin: 0;
    margin-top: -3px;
    margin-right: 6px;
}

div.checker>span,
div.radio>span {
    position: absolute; top: 4px; left: 4px;
    height: 8px;
    width: 8px;
    display: -moz-inline-box;
    display: inline-block;
    *display: inline;
    zoom: 1;
    text-align: center;
}

div.checker:focus,
div.radio:focus {
	outline: 0;
}

div.radio *,
div.checker * {
	margin: 0;
	padding: 0;
}

div.checker>input { border: none; width: 0; height: 0; visibility: hidden; }
    
div.checker:hover { border-color: #666; }

div.checker > input[type=checkbox] + span,
div.checker > input[type=radio] + span {
    -moz-transition: background 0.2s;
    -o-transition: background 0.2s;
    -webkit-transition: background 0.2s;
    transition: background 0.2s;
}

div.checker>input[type=radio]:checked+span,
div.checker>input[type=checkbox]:checked+span { background: #f00 }
div.checker>input[type=checkbox]:checked+span:hover {  }

div.checker.disabled { /*background:#e0e0e0;*/ border-color: #999; }
div.checker>input[type=checkbox]:checked:disabled+span { background: #999 }



.unit-container {

    display: inline-block; 
    position: relative;

    > input[type=text] {
        padding-right: 40px;
    }

    > span {
        position: absolute; 
        right: 0; 
        top: 0; 
        padding: 5px 10px; 
        color: #999;
    }
}

// VALIDATION

/*
input[type=text].error,
input[type=email].error,
input[type=password].error {
	border-color: #f00;
}*/

.field-validation-error { color : #c00; }


.selector.input-validation-error input[type=text],
select.input-validation-error, 
input[type=search].input-validation-error, 
input[type=text].input-validation-error, 
input[type=number].input-validation-error, 
input[type=email].input-validation-error, 
input[type=password].input-validation-error, 
textarea.input-validation-error {
    background-color: #EFDADA;
}

.alert-container {
    position: fixed;
    top: 10px;
    left: 50%;
    display: none;
    width: 400px;
    margin-left: -200px;
    z-index: 999;
    padding: 10px 30px;
    background: #fff;
    -webkit-box-shadow: rgba(0, 0, 0, 0.5) 0 0 10px;
    -ms-box-shadow: rgba(0, 0, 0, 0.5) 0 0 10px;
    box-shadow: rgba(0, 0, 0, 0.5) 0 0 10px;

    .alert {
        text-align: center
    }

    .alert.success {
        color: green;
    }

    .alert.error {
        color: #c00;
    }
}

/*#endregion*/



/* #region LOGIN
----------------------------------*/

body.login-body{
    height: 100%;
    overflow: hidden;
}

.login .logo {
	text-align: center;
}

.login-wrap {
	background: url('images/login-bg2.jpg') no-repeat 50% 50%;
	background-size: cover;
	min-height: 100%;
}

.login-wrap .bg {
    background: @bg-color-dark; position: absolute; width: 100%; height: 100%; top: 0; left: 0; z-index: 0;
    opacity: 0.8;
}

.login {
	position: absolute;
	left: 50%;
	margin: -180px 0 0 -130px;
	top: 50%;
}

.login form {
	margin: auto;
	padding: 68px 0 0;
	width: 260px;
}

.login input[type=text],
.login input[type=password] {
    background: #fff;
    width: 100%;
    border: 1px solid #fff;
}

.login input[type=text].input-validation-error,
.login input[type=password].input-validation-error {
    border: 1px solid #854a4a;
    background: #f6e6e6;
    color: #c00;
}

.login .loading-wrap {
	margin: 60px auto 0;
}

/*#endregion*/



/* #region HEADER 
----------------------------------*/

header {
	height: 70px;
	position: relative;
	z-index: 1;
}

header .logo {
	float: left;
	padding: 20px 15px;
	width: 150px;
}

header .logo img {
	height: 29px;
    border: 0;
}

header .menu {
	float: left;
	width: 560px;
}

header .menu li {
	display: inline;
}

header .menu a {
	display: inline-block;
	font-weight: bold;
	height: 70px;
	margin: 0 40px 0 0;
	text-transform: uppercase;
	vertical-align: top;
    line-height: 70px;
}

header .menu .active a {
	color: #f00;
}

header .menu a:hover {
	color: #000;
	text-decoration: none;
}

header .menu li.disabled a,
header .menu-account li.disabled a {
    color: #ccc;
}

header .menu-account {
	float: right;
	padding: 25px 0 0;
}

header .menu-account li {
	position: relative;
	display: inline;
}

header .menu-account a {
	border-left: 1px solid #000;
	display: inline-block;
	height: 24px;
	line-height: 24px;
	margin: 0 0 0 14px;
	padding: 0 0 0 14px;
	vertical-align: top;
}

header .menu-account li:first-child a {
	border: 0;
	padding-left: 0;
	margin-left: 0;
}

header .menu-account .logout a {
	color: #4c4c4c;
	padding: 0 16px 0 14px;
}

header .menu-account .logout a:hover {
	color: #000;
}

header .menu-account li ul {
	background: #fff;
	border: 1px solid @bg-color;
	box-shadow: 0 0 5px rgba(153, 153, 153, .5);
	display: none;
	padding: 10px 0;
	position: absolute;
	left: -15px;
	top: 23px;
}

header .menu-account li li a,
header .menu-account li:first-child li a {
	display: block;
	height: auto;
	line-height: 24px;
	padding: 0 14px;
	white-space: nowrap;
}

header .menu-account li li a:hover {
	background: #f5f3ef;
}

/*#endregion*/



/* #region QUICKSEARCH 
----------------------------------*/

.quick-search { position: relative;}

.quick-search input[type=search] {
	background: @bg-color;
	height: 40px;
	font-size: 16px;
	line-height: 40px;
	padding: 0 15px;
	width: 100%;
}

.quick-search .form-actions {
    position: absolute;
    top: 0; 
    right: 0;

}

.quick-search button {
	font-size: 20px;
	height: 40px;
	line-height: 40px;
	padding: 0 0;
	text-align: center;
	width: 100px;
}

/*#endregion*/



/*#region MAXIGRID
----------------------------------*/

.maxigrid table {
    width: 100%;
    line-height: 18px;
}

.maxigrid-loading { text-align: center;position: absolute;font-size: 20px;font-family: "Segoe UI", Verdana, Helvetica, Sans-Serif;}
.maxigrid-pager { position: relative; margin: 30px 15px 0 15px; }

.maxigrid-pager-total-container { position: absolute;left: 0; top: 0;line-height: 30px;}
.maxigid-pager-sizes-container { position: absolute;right: 0; top: 0;line-height: 30px;}

.maxigrid-pager-navi-container {
    text-align: center;
}

.maxigrid-pager-navi {
    display: inline-block;
    white-space: nowrap;
}

.maxigrid-pager-navi span {
    display: inline-block;
    height: 30px;
    line-height: 30px;
}

.maxigrid-pager-navi-button {
    padding: 0 15px;
    background: #999;
    color: #fff;
    font-weight: bold;
    margin: 0
}

input[type=text].maxigrid-pager-current-page {
    border: 1px solid #ccc;
    margin: 0;
    height: 30px;
    line-height: 28px;
    width: 60px;
}

.maxigrid em {
    font-weight: bold;
    font-style: normal;
}

.maxigrid th {
    font-weight: 600;
    position: relative;
}

.maxigrid th,
.maxigrid td {
    padding: 8px 15px;
    -webkit-transition: background 0.2s;
    -moz-transition: background 0.2s;
    -ms-transition: background 0.2s;
    -o-transition: background 0.2s;
    transition: background 0.2s;
}

.maxigrid td {
    border-top: 1px solid #f5f3ef;
    color: #4c4c4c;
}

.maxigrid tr:hover td {
    background: #f5f3ef;
}
.grid-20 {

    .maxigrid th:first-child,
    .maxigrid td:first-child {
        padding-left: 20px;
    }

    .maxigrid-pager { margin-left: 20px; }
}


thead th.sortable  { cursor: pointer; }

thead .sort {
	background: url(icons/sort.png) no-repeat 4px 5px;
	display: block;
	height: 18px;
	left: 50%;
	overflow: hidden;
	position: absolute;
	text-indent: -9999px;
	width: 18px;
    margin-left: -9px;
}

thead .sort.asc {
	top: -12px;
}

//thead .sort.asc:hover,
thead .sorted.asc .sort.asc {
	background-position: -96px 5px;
}

thead .sort.desc {
	background-position: 4px -95px;
	bottom: -14px;
}

//thead .sort.desc:hover,
thead .sorted.desc .sort.desc {
	background-position: -96px -95px;
}

.grid-with-row-link .maxigrid tbody > tr {
    cursor: pointer;
}

.grid-with-row-link .maxigrid tbody > tr.read-only {
    cursor: default;
}


.grid-with-dark-header th {
    background: #4c4c4c;
    color: #fafafa;
}


.grid-dark .maxigrid td {
    border-top: 1px solid #E8E5DF;
}
.grid-dark .maxigrid tbody tr:last-child td {
    border-bottom: 1px solid #E8E5DF;
}
.grid-dark .maxigrid tr:hover td {
    background: #E8E5DF;
}
.grid-dark .maxigrid tr.active td {
    background: #E8E5DF;
}

.grid-dark .maxigrid-pager {
    margin-top: 25px;
    margin-bottom: 10px;
}

.grid-dark .maxigrid-pager-navi-button {
    color: #4c4c4c;
    background: none;
    cursor: pointer;
    font-size: 20px;
}

.grid-dark input[type=text].maxigrid-pager-current-page { border-color: #E8E5DF; }

.col-edit a,
.col-delete a {
    display: block;
    width: 40px;
}

.col-edit,
.col-delete {
    width: 70px;
    text-align: center;
}
/*
.col-delete a { color: #f00; }
    */
/*#endregion*/


.col-buttons {
    position: absolute; 
    top: 0; 
    right: 0; 
    width: 100px; 
    height: 100%; 
    overflow: hidden;

    .button {
        font-size: 21px; 
        text-align: center; 
        color: #4c4c4c;
        padding: 30px 40px;
        line-height: 20px;

        span {
            font-size: 10px;
        }
    }

    .button:first-child{
        //padding-top: 30px
    }
                
    .button.disabled {
        cursor:not-allowed;
        color: #ccc;
    }

    .button:hover {
        background-color: @bg-color-dark;
    }
}

/*#region PRODUCTS*/

.products {
                  
    .view,
    .edit,
    select,
    input {
        width:95%;
    }

    .product-basic-info,
    .product-nutrition-info,
    .product-additional-info,
    .product-logistic-info
    {
        padding: 20px 0 25px;
        position: relative;
        min-height: 0;
        z-index: 8;        
        
        .form-item > label {
            width: 50%;
        }

        .form-item > div {            
            position:relative;
            width:50%;
        }    
    }
    
    .product-basic-info {
                                              
        position:relative;

        .form-item > label {
            width: 35%;
        }
        .form-item > div {
            width:65%;
        }    

        #selector-for-BrandId,
        #selector-for-ManufacturerId,
        #selector-for-SegmentId {
            width:95%;
        }

        .codes {
            width:100% !important;
            margin-top: 5px;
            margin-bottom: 5px;

            .row{
                padding-top: 10px;
            }

            .col { 
                padding:0;
                margin-right: 12px;                
            }

            .col-data {
                width:123px;                
            }
            
            .col-data.col-data-type {
                margin-right: 18px;
            }

            .col-data.col-data-code {
                width:115px;
            }

            .btn-product-generate {
                line-height: 34px; 
                background: #999;
            }

            .user-input {
                width: 100%;
            }

        }        

        .btn-save-row {
            width: 100px; 
            margin-top: 10px; 
            float: right;
        }

        .btn-save {
            width: 100%;
        }

        .secondary-eans-rows {
            .secondary-ean-row{
                padding-bottom:5px;
            }
            .ean-display{
                padding-right:10px;
            }
            .ean-remove{
                cursor:pointer;
            }
            .hidden-from-layout{
                display:none;
            }
            .show-all-rows{
                cursor:pointer;
            }

        }

    }

    .product-basic-info.read-only {
        .secondary-eans-rows .ean-remove {
            display: none;
        }
    }
    
    .product-nutrition-info {
        .form-item > label {
            width: 40%;
        }

        .form-item > div {            
            position:relative;
            width: 60%;
        }   
        .col-pos-3 {
            .form-item > label {
                width: 38%;
            }
        }
        .unit-container {
            input{
                width:175px;
            }
        }
    }

     .detailed-search {

         /*display: none;
        background-color: @bg-color;*/
       
        .detailed-search-content {
            padding-top: 20px; 
            padding-bottom: 30px; 
            position: relative;

            .col-buttons-placeholder {
                width: 100px;
            }
            
            .col-assortment-filters {
                width: 500px;
            }

            .col-product-filters {
                width: 535px;
            }
        }

        .button {
            .transition(background, 0.2s)
        }
        
        .button:hover {
            background-color: @bg-color-dark;
        }

        .segments-tree li>ul {
            margin-left:20px;
        }

        .selector { 
            display: block;
        }
    }

    .show-detailed-search {
        position: absolute;
        top: 0;
        right: 100px;
    }

    .show-detailed-search a {
        color: #4c4c4c;
        display: block;
        font-size: 20px;
        height: 40px;
        line-height: 40px;
        position: relative;
        width: 80px;
        text-align: center;
        -webkit-transition: transform 0.2s;
        -moz-transition: transform 0.2s;
        -ms-transition: transform 0.2s;
        -o-transition: transform 0.2s;
        transition: transform 0.2s;
    }

    .expanded .show-detailed-search a {
        -webkit-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
        -moz-transform: rotate(180deg);
        -o-transform: rotate(180deg);
        transform: rotate(180deg);
        line-height: 34px;
    }

    .period-presets {
        background: #fff; position: absolute; top: 34px; width: 100%; z-index: 1; margin-top: 5px;
        -webkit-box-shadow: 0 0 5px #ccc; 
        -moz-box-shadow: 0 0 5px #ccc; 
        box-shadow: 0 0 5px #ccc; 
    }

    .period-presets li {
        padding: 0 10px;
    }

    .period-presets li:hover {
        background: @bg-color-dark;
    }
}

.product-additional-info {
    .text-area-container,
    .text-area {
        min-height:55px;        
    }
    .text-area-container .view{         
        max-height:50px;
        cursor:pointer;
    }
    .text-area{
        width:100%;
        overflow: hidden;
        resize:none;
        cursor:pointer;
    }

    .col-textareas {
        .form-item > label {
            width: 30% !important;
        }

        .form-item > div {            
            width: 70% !important;
        }    
    }

}

.single-view {
    .product-additional-info,
    .product-logistic-info {
        .form-item > label {
            width: 50%;
        }

        .form-item > div {            
            position:relative;
            width:50%;
        }
        #selector-for-LogisticsInfo_WarehouseGroupId {
            width:95%;
        }        
    }
    .col-textareas {
        .form-item > label {
            width: 30% !important;
        }

        .form-item > div {            
            width: 70% !important;
        }    
    }
}

.sortiment-codes {

    span {
        display: inline-block;
        border: 1px solid #ccc;
        font-weight:bold;
        min-width: 26px;
        padding: 0 5px;
        line-height: 26px;
        text-align: center;
        .transition(all, 0.2s)
    }

    input[type=checkbox].assortment-selector:checked+span,
    span.selected {
        background: @green;
        color: #fff;
        border-color: @green;
    }    

    .selectable {
        cursor:pointer;
    }

    .selectable:hover {
        border-color:grey;
    }

}

.select-assortment-codes {
    span {
        cursor: pointer;
    }
}

.select-assortments-from {
    height: 10px; 
    background: @bg-color;
    margin-top: 5px;
    cursor: pointer;
    .transition(all, 0.2s)
}

.select-assortments-from.active {
    background: @green;
}

.in-e-store {
    text-align: center;
    border: 1px solid #ccc;
    line-height: 26px;
    .transition(all, 0.2s)
}

input[type=checkbox].in-e-store-selector:checked+span,
.in-e-store.active {
    border-color: @red;
    color: #fff;
    background: @red;
}

.index {
    
    .button-bar {
        
         a {
            display: block;
            float: left;
            padding: 25px 15px 20px 15px;
        }
    }
    
    thead th {
        padding-top: 15px;
        padding-bottom: 25px;
    }
}

.products-list {
    
    .sortiment-codes {
        white-space: nowrap;
        right: 0;
        padding-right: 50px;
        height: 48px;
        position: absolute;
        top: 0;
        margin-top: -4px;
    }

    .c-taisnimetus {
        width: 250px;
    }

    .c-ean {
        width: 130px;
    }

    .c-noomen {
        width: 100px;
    }

    th.c-windows {
        padding-left: 0;
    }

    td.c-windows {
        text-align: center;
        width: 30px;
        position: relative;
        padding:0;
        padding-right: 15px;

        .icon-windows {
            cursor: pointer;
            position: relative;
            z-index: 1;
            color: #999
        }
    }
    /*
    .c-windows .icon-windows-darker {
        background-position: 0 0;
    }
    */

}

.price-schemes .comma-separated-list.warehouses { 
    span {
        color: #bbb;
    }

    span.selected {
        color: inherit;
    }
}

.product-units {

    .col-amount {
        white-space: nowrap;
    }

    .col-width, .col-height, .col-depth, .col-weight {
        text-align:right;
    }

    .col-materials {
        .materials-container {
            position: absolute; white-space: nowrap; right: 0; background: #fff;  display: none;
            border: 1px solid #ccc;
            
            -webkit-box-shadow: rgba(0, 0, 0, 0.5) 0 0 10px;
            -ms-box-shadow: rgba(0, 0, 0, 0.5) 0 0 10px;
            box-shadow: rgba(0, 0, 0, 0.5) 0 0 10px;


            >div {
                padding: 0 20px; 
                line-height: 34px
            }
        }
    }
}

.product-unit-details {
    .ac-subunit {
        width: 100%;
    }
}

/*#endregion*/

/*#region locations*/ 
.locations {
    
    .detailed-search {
        /*display: none;
        background-color: @bg-color;*/
        
        .detailed-search-content {
            padding-top: 20px; 
            padding-bottom: 30px; 
            position: relative;
            min-height:250px;
            .col-buttons-placeholder {
                width: 100px;
            }
            
            .col-assortment-filters {
                width: 500px;
            }

            .col-product-filters {
                width: 535px;
            }
        }

        .button {
            .transition(background, @transition-length)
        }
        
        .button:hover {
            background-color: @bg-color-dark;
        }

        .selector { 
            display: block;
        }

        .form-item > label {
            width: 35%;
        }

        .form-item > div {
            width: 65%;
        }

    }

    .show-detailed-search {
        position: absolute;
        top: 0;
        right: 100px;
    }

    .show-detailed-search a {
        color: #4c4c4c;
        display: block;
        font-size: 20px;
        height: 40px;
        line-height: 40px;
        position: relative;
        width: 80px;
        text-align: center;
        -webkit-transition: transform @transition-length;
        -moz-transition: transform @transition-length;
        -ms-transition: transform @transition-length;
        -o-transition: transform @transition-length;
        transition: transform @transition-length;
    }

    .expanded .show-detailed-search a {
        -webkit-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
        -moz-transform: rotate(180deg);
        -o-transform: rotate(180deg);
        transform: rotate(180deg);
        line-height: 34px;
    }

}

.locations-list {
    
    /*.c-taisnimetus {
        width: 250px;
    }

    .c-ean {
        width: 130px;
    }

    .c-noomen {
        width: 100px;
    }*/

    th.c-windows {
        padding-left: 0;
    }

    td.c-windows {
        text-align: center;
        width: 30px;
        position: relative;
        padding:0;
        padding-right: 15px;

        .icon-windows {
            cursor: pointer;
            position: relative;
            z-index: 1;
            color: #999
        }
    }

}

//animation for inline forms
.inline-form-container {

    .form-item {

        .transition(margin-top, @transition-length);

        /*
        > div {
            .transition(min-height, @transition-length);
        }
        */

        .view {
            padding-top: 5px;
            padding-left: 10px;
            .transition(padding-top, @transition-length);
            .transition(padding-left, @transition-length);
            overflow: hidden;
            -ms-text-overflow: ellipsis;
            -o-text-overflow: ellipsis;
            text-overflow: ellipsis;
        }

        .edit {
            top: 0;
            position: absolute;
            display: none;
        }

        .field-validation-valid {
            opacity: 0;
            .transition(opacity, @transition-length);
        }

        .field-validation-error {
            opacity: 1;
        }

        select,
        input {
            .transition(background-color, @transition-length);
        }

        select {
                padding-left: 6px;
        }

        > .text,
        > label {
            -moz-transition: padding-top @transition-length, min-height @transition-length;
            -o-transition: padding-top @transition-length, min-height @transition-length;
            -webkit-transition: padding-top @transition-length, min-height @transition-length;
            transition: padding-top @transition-length, min-height @transition-length;
        }

        .edit-checkbox {
            padding-left: 10px; 
            padding-top: 5px;
        }
    }
}

.inline-form-container.read-only .view{
    padding-top: 0;
    padding-bottom: 2px;
}


.location-detail {
    
    .address-separator {
        margin: 40px 40px 20px 40px;
        border: 0;
        height: 0;
        border-top: 1px solid rgba(0, 0, 0, 0.1);
    }

    .col-left {
        width: 535px;
    }

    .col-right {
        width: 500px;
    }

    .form-item {
        
        >label {
            width:30%;
        }

        >div {
            width:70%;
            position:relative;
        }

        .view,
        .edit,
        select,
        input, 
        #selector-for-singleSelect {
            width:95%;
        }

        .input-number {
            width:50%;
        }
            
        .has-datepicker {
            width:110px;
        }

    }
}

.location-attributes-form {
    
    .form-item > label {
        width: 45%;
    }

    .form-item > div {
        width:55%;
    }

    .col-left {
        width: 535px;
    }

    .col-right {
        width: 500px;
    }

    .read-only {
        background-color:#F8F8F8  !important;
    }

}

.location-attributes-form.read-only .view{
    padding-top: 0;
}

.location-equipments{
    .remarks{
        max-width:300px;
    }
}

.opening-times-container {        
    table.opening-times-table {
        width:100%;
        th {
            font-weight: 600;
            padding-top:5px;
            padding-bottom:5px;
        }
        th, td {
            border-bottom: 1px solid #E8E5DF;
        }
        .field-validation-error {
            padding-left:3px;
        }
    }
}

.opening-times-form {
       
    tr td {
        width: 20%;
    }
    
    .col-left {
        width: 535px;
    }

    .col-right {
        width: 500px;
    }

    .read-only {
        background-color:#F8F8F8  !important;
    }

    .view-edit-container{
        position:relative;
        height:35px;
    }

    .view-edit-container.view-edit-container-is-opened .edit{
        padding-left: 5px; 
        padding-top: 5px
    }

    .view {
        padding-left: 5px !important;
    }
        
    .edit .has-timepicker {
        width:75px;
        padding:3px;
        padding-left:5px;
        background: #fff url('/Images/icons/time.png') no-repeat 100% 50%;
        /*cursor:pointer;*/
    }

    .edit .has-timepicker.read-only {
        /*cursor:auto;*/
    }

    input.cb-is-opened.read-only + span {
        background: grey !important;
    }

}

.location-attributes-form .col-buttons {
    height:200px;
}

.location-assortment-form {
    .col-main {
        width: 1035px;
    }
        
    .col-left {
        width: 500px;
    }

    .col-right {
        width: 500px;
    }

     .view {
        /*padding-top: 5px;*/
        top: 0;
        .transition(padding-top, @transition-length);
    }

    .edit {
        position: absolute;
        top: 0;
        display:none;
    }

    .sortiment-codes {
        width:auto;
    }

    .form-item {
        margin-top:5px;
        >label{
            padding-top: 5px;
            min-height: 29px;
        }
    }

}

.properties-table {

    .button-bar-attributes {
        padding: 10px 15px 0 15px;
        .terminal-header {
            font-weight:bold;
            float:left;
        }
        .add-terminal-attr {
            float:right;
        }
    }    
    .button-bar-attributes.expanded {
    }
}

.terminal-attribute-save {        
    .sortiment-codes {
        span.field-validation-error,
        span.field-validation-valid { 
            border:0;
        }
    }
}

.terminal-description {
    width:100%;
}

/*#region SETTINGS
----------------------------------*/

.settings-content {
    padding-top: 10px;

    .cb-require-uniqueness,
    .button-bar a,
    h3 {
        .transition(padding, 0.2s);
        .noselect();
    }

    .expandable.expanded > h3.toggle,
    h3.toggle:hover {
        background: @bg-color;
    }
    
    .expandable.expanded > .button-bar a,
    .expandable.expanded > h3,
    .expandable-clv.expanded .cb-require-uniqueness
    {
        padding-top: 25px;
        padding-bottom: 20px;
    }

    .body.l1 {
        margin-left: 20px;
    }

    .cb-require-uniqueness {
        float:left;
        padding-right:20px;
        padding-top:10px;
    }

    .link-add-classifier {
        float:right;
    }

    .newly-added {
        background-color: @green;
        &.newly-added-hide {
            background-color: @bg-color;
            .transition(background-color, 2s);
        }
    }
}

.maxigrid-users  {
    .c-username { width: 150px; }
    .c-fullname { width: 150px; }
    .c-organization { width: 150px; }
    .c-cooperative { width: 150px; }
    .c-roles { /* auto */ }
    .c-status { width: 100px;  }
}

.maxigrid-roles {

    .sys-role{
        
    }

    .c-name { width: 180px; }
    .c-rights { /*auto*/ }
    .c-status { width: 100px; }
}

.account-details {

    #selector-for-CooperativeId,
    #selector-for-Locations,
    #selector-for-Username {
        width: 100%;
    }
}

.settings-content .expandable .toggle i.fa {
    margin-right: 10px;
}

/*#endregion*/




.price-scheme-details {
    #selector-for-BuyInGroupName,
    #selector-for-ContractorName {
        width: 100%;
    }
}


/* #region CONTACTS
----------------------------------*/

.contacts.contacts-list {
    
    tbody tr.status-disabled td {
        color: #aaa;
    }
}

.contact-detail .form-item {
    .transition(margin-top, 0.2s);
}

.contact-detail .view {
    padding-top: 5px;
    padding-left: 10px;
    .transition(padding-top, 0.2s);
}

.contact-detail.read-only .view{
    padding-top: 0;
}

.contact-detail .edit {
    position: absolute;
    top: 0;
    display:none;
}

.contact-detail .form-item > .text, .contact-detail .form-item > label {
    .transition(min-height, 0.2s);
    .transition(paddint-top, 0.2s);
}

.contacts.single-view {

    .contact-addresses .col-type,
    .contact-lines .col-type,
    .contact-codes .col-type {
        width: 250px
    }
}

.contact-code-details {

    #selector-for-ValidFor {
        width: 100%;
    }
}

.contact-address-details {

    #selector-for-InADS {
        width: 100%;
    }
}

/* #endregion */


/* #region MODALLINK 
----------------------------------*/

.sparkling-modal-container { }

.sparkling-modal-overlay {
    background: rgba(0, 0, 0, 0.3);
}

.sparkling-modal-frame {
    background: #fff;
    border: 0px solid #000;
    -webkit-box-shadow: rgba(0, 0, 0, 0.5) 0 0 4px;
    -ms-box-shadow: rgba(0, 0, 0, 0.5) 0 0 4px;
}

.sparkling-modal-title {
    background: @bg-color;
}

.sparkling-modal-title span {
	font-size: 20px;
	padding: 20px;
	float: left;
	line-height: 20px;
}

.sparkling-modal-close {
    padding: 0 23px;
	line-height: 60px;
	float: right;
	cursor: pointer;
    font-size: 14px;
    display: block;
    .transition(background, 0.2s);
}

.sparkling-modal-close:hover { background: @bg-color-dark; }

.sparkling-modal-content { padding: 0; }

/* #endregion */



/* #region EXPANDABLE
----------------------------------*/

.body-actions{
    margin-top: 0; line-height: 28px; position: absolute; top: 0; right: 20px;

    a {
        margin-left: 30px;

        i {
            margin-right: 10px
        }
    }
}

.expandable { position: relative; }

.expandable > .body { display: none; }

.expandable.expanded > .body { display: block; }

.expandable > .show-when-expanded {
    visibility: hidden;
    opacity: 0;
    transition:visibility 0s linear 0.3s, opacity 0.3s linear;
}

.expandable.expanded > .show-when-expanded {
    visibility: visible;
    opacity: 1;
    transition-delay: 0s;
}

.expandable .toggle {
    cursor: pointer;
}

.expandable.disabled .toggle {
    cursor: not-allowed;
    color: #ccc;
}

.expandable .toggle i.fa {
    transition: transform 0.2s;
}


.expandable.expanded > .toggle i.fa {
    transform: rotate(90deg);
}

.expandable > .button-bar {
    position: absolute; top: 0; right: 0;

    a, div.bar-item {
        display: block; float: left; padding: 10px 15px 20px 15px;
    }
}

/*#endregion*/


/*#region JQUERY UI
----------------------------------*/

// AUTOCOMPLETE

.ac-highlight {
    font-weight: bold;
}

.ac-disabled-item {
    color: #666;
    font-style: italic;
}

// DATEPICKER

.ui-datepicker {
	background: #fff;
	border: 1px solid #999;
	display: none;
	width: 196px;
    z-index: 31 !important;
}

.ui-datepicker-header {
	background: @bg-color;
	border-bottom: 1px solid #999;
	font-size: 14px;
	height: 30px;
	line-height: 28px;
	position: relative;
	text-align: center;
}

.ui-datepicker-prev,
.ui-datepicker-next {
	background: url('icons/datepicker-prev-next.png') no-repeat 50% 7px;
	cursor: pointer;
	display: block;
	height: 28px;
	position: absolute;
	top: 0;
	width: 28px;
}

.ui-datepicker-prev {
	left: 0;
}

.ui-datepicker-next {
	background-position: 50% -73px;
	right: 0;
}

.ui-datepicker-prev span,
.ui-datepicker-next span {
	display: none;
}

.ui-datepicker-calendar {
	width: 100%;
}

.ui-datepicker-calendar td,
.ui-datepicker-calendar th {
	border-top: 1px solid #ccc;
	border-left: 1px solid #ccc;
	font-size: 14px;
	height: 26px;
	line-height: 24px;
	text-align: center;
 	width: 14.28%;
}

.ui-datepicker-calendar td:first-child,
.ui-datepicker-calendar th:first-child {
	border-left: 0;
}



.ui-datepicker-calendar thead td,
.ui-datepicker-calendar thead th {
	border-top: 0;
}

.ui-datepicker-calendar a {
	color: #000;
	display: block;
	height: 25px;
	line-height: 25px;
}

.ui-datepicker-calendar .ui-priority-secondary {
	color: #ccc;
}

.ui-datepicker-calendar a:hover,
.ui-datepicker-calendar .ui-state-active,
.ui-datepicker-calendar .active .ui-state-default {
	background: #f00;
	color: #fff;
	text-decoration: none;
}

.ui-state-disabled {
    color: #aaa;
}

.ui-datepicker-multi-2 .ui-datepicker-group {
    width: 50%;
    float: left;
}

.ui-datepicker-group-last{ 
    .ui-datepicker-calendar td:first-child,
    .ui-datepicker-calendar th:first-child {
	    border-left: 1px solid #999;
    }
}


/*#endregion*/



/* #region LOADING ANIMATION
----------------------------------*/

.loading-animation,
.loading-animation .inner {
	-webkit-animation-timing-function: linear;
	-moz-animation-timing-function: linear;
    animation-timing-function: linear;
	background: url(images/loading.png) no-repeat 0 0;
	height: 147px;
	left: 50%;
	margin: -73px 0 0 -73px;
	top: 50%;
	margin: auto;
	width: 147px;
}

.loading-animation {
    display: none;
	-webkit-transition-duration: .5s;
	-moz-transition-duration: .5s;
	transition-duration: .5s;
	-moz-animation: loading 1.4s infinite;
	-o-animation: loading 1.4s infinite;
	-webkit-animation: loading 1.4s infinite;
	animation: loading 1.4s infinite;
	-webkit-animation-timing-function: linear;
	-moz-animation-timing-function: linear;
    animation-timing-function: linear;
}

.loading-animation .inner {
	-moz-animation: loading-reverse .7s infinite;
	-webkit-animation: loading-reverse .7s infinite;
	-o-animation: loading-reverse .7s infinite;
	animation: loading-reverse .7s infinite;
	-webkit-animation-timing-function: linear;
	-moz-animation-timing-function: linear;
    animation-timing-function: linear;
	background-position: 0 -150px;
	left: 0;
	position: absolute;
	margin: 0;
	top: 0;
}

@-webkit-keyframes loading {
	0%   { transform: rotate(0deg); }
	100% { transform: rotate(360deg); }
}

@-moz-keyframes loading {
	0%   { -moz-transform: rotate(0deg); }
	100% { -moz-transform: rotate(360deg); }
}

@-o-keyframes loading {
	0%   { opacity: 0; }
	100% { opacity: 1; }
}

@keyframes loading {
	0%   { transform: rotate(0deg); }
	100% { transform: rotate(360deg); }
}

@-webkit-keyframes loading-reverse {
	0%   { -webkit-transform: rotate(360deg); }
	100% { -webkit-transform: rotate(0deg); }
}

@-moz-keyframes loading-reverse {
	0%   { -moz-transform: rotate(360deg); }
	100% { -moz-transform: rotate(0deg); }
}

@-o-keyframes loading-reverse {
	0%   { transform: rotate(360deg); }
	100% { transform: rotate(0deg); }
}

@keyframes loading-reverse {
	0%   { transform: rotate(360deg); -webkit-transform: rotate(360deg); }
	100% { transform: rotate(0deg); -webkit-transform: rotate(0deg); }
}

/* #endregion */

/*#region MULTISELECT
----------------------------------*/

.ac-searching-text,
.ac-no-results-text,
.ac-hint-text { 
    display: none; 
}

.selector { 
    display: inline-block;
    position: relative;

    input[type=text] { 
        width: 100%; 
        z-index: 20; 
        position:relative;
        padding-right: 50px;
    }
    
    .selector-options { 
        height: @textbox-height;
        position: absolute; 
        width: 100%;

        > div.ul-wrapper {
            position: relative;
            min-height: @textbox-height;
            padding-top: @textbox-height;
            margin-top: -@textbox-height;

            > .help-text {
                height: @textbox-height;
                line-height: @textbox-height;
                padding: @textbox-padding;
                font-style: italic;
                background: #fff;
                width: 100%;
                display: none;
                color: #777;
            }
        }

        ul {
            display: none;
            z-index: 1; 
            padding: 0;
            margin: 0;
            list-style-type: none; 
            position: relative;
            width: 100%;
            top: 0;
            left: 0;
            background: #fff;

            li {
                padding: @textbox-padding;
                line-height: @textbox-height;
                display: block;
                white-space: nowrap;
                -ms-text-overflow: ellipsis;
                -o-text-overflow: ellipsis;
                text-overflow: ellipsis;
                overflow: hidden;
            }

            li.no-match,
            li.selected { 
                display: none;
            }

            li.hover { 
                background-color: @bg-color-dark; 
            }
            /*
            li.disabled {
                background-color: transparent;
                font-style: italic;
                color: #777;
                text-decoration:line-through;
            }
            */
            
            li.disabled {
                background-color: #f0f0f0;
                color: #bbb;
            }
        }
    }

    .selector-title {
        height: @textbox-height; 
        position: absolute; 
        top: 0; 
        right: 0;
        overflow: hidden;
        z-index: 21;
        /*
        width: 100%; 
        z-index: 1;
        width: 70px;
        */

        > span {
            display: none;
        }

        .clear-value {
            float: right; 
            line-height: 34px; 
            width: 30px; 
            text-align: center; 
            margin-right: -30px;
            cursor: pointer;
            .transition(all, 0.2s)
        }

        .clear-value:hover {
            background: #444;
            color: #fff; 
        }
    }
        
    .selector-title.has-value {
        .clear-value {
            margin-right: 0;
        }
    }
        
    ul.selector-selected-values {  
        list-style-type: none;
        padding: 0;
        margin: 0;
        width: 100%; 

        li { 
            position: relative;
            line-height: 26px; 

            p { 
                background: @bg-color-dark; 
                margin: 0;
                margin-bottom: 1px;
                padding: @textbox-padding;
            }

            span {
                position: absolute;
                top: 0;
                right: 0;
                padding: 0 10px;
                cursor: pointer;
                font-size: 16px;
                line-height: 26px;
                .transition(all, 0.2s)
            }
        }

        li:first-child { 
            padding-top: 1px;
     
            span {
                top: 1px;
            }
        }

        li.active span,
        li span:hover { 
            background: #444;
            color: #fff; 
        }
        
        li.disabled {
            span,
            p {
                background: #f0f0f0;
                color:#bbb;
                cursor: default;
            }

            span:hover {
                background: none;
            }
        }
    }
}


.selector.opened .selector-options > div.ul-wrapper {
    z-index: 30;
    -webkit-box-shadow: 0 0 5px #ccc; 
    -moz-box-shadow: 0 0 5px #ccc; 
    box-shadow: 0 0 5px #ccc; 
}

.selector.opened > div > input[type=text]
{
    z-index: 40;
}

.selector.opened > div > .selector-title
{
    z-index: 50;
}

.selector.disabled {
    .selector-title {
        color: #aaa;
        cursor:not-allowed;
    }

    ul.selector-selected-values li {
        span,
        p {
            background: #f0f0f0;
            color:#bbb;
            cursor: default;
        }

        span:hover {
            background: none;
        }
    }
}

.bg ul.selector-selected-values {  
    background: #fff;

    li { 

        p { 
            margin: 1px;
            margin-top: 0;
        }

        span {
            right: 1px;
        }
    }

}

/*#endregion*/

.blocker{
    display: none; 
    position: fixed; 
    background: #fff; 
    width: 100%; 
    left: 0; 
    top: 0; 
    height: 100%; 
    z-index: 9;
}

.multilevel-table { 

     
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    position:relative;
    background: #F1EFEC;
    
    .indent-0 .col-first{
        padding-left:15px;
    }

    .indent-1 .col-first {
        padding-left:30px;
    }

    .indent-2 .col-first {
        padding-left:45px;
    }

    .indent-3 .col-first {
        padding-left:60px;
    }

    .indent-1,
    .indent-2,
    .indent-3 {
        display: none;
    }

    .expand-button,
    .collapse-button {
        top:0;
        position: absolute;
    }

    .expand-button {
        display: block;
    }

    .collapse-button {
        display: none;
    }

    .row.opened {
        .expand-button {
            display: none;
        }
        .collapse-button {
            display: block;
        }
    }
    
    .head > div {
        font-weight:bold;
    }  
    
    .col-first-title {
        padding-left:15px;
    }
    
    .row {
        padding:3px;
        border-bottom: 1px solid #E8E5DF;
    }

    .row.parent-node,
    .actions
     {
        cursor:pointer;
     }

    .row:hover {
        background: #E8E5DF;
    }
    
    .button-container {
        font-size:20px;
    }

    .leaf-node .button-container {
        display:none;
    }

    .item-action {
        padding:15px;
        .fa{
            padding:0 3px;
        }
        &:hover{
            text-decoration:underline;
        }
    }

}

.assortment-exceptions-header{
    padding:15px 0;
}

.assortment-exceptions {
       
    .segment,
    .sortiment,
    .starting-from,
    .actions {
        position:relative;
        display: inline-block;
    }

    .segment {
        width: 50%;
    }

    .sortiment {
        width: 20%;
    }

    .starting-from {
        width: 20%;
    }

    .actions {
        width: auto;
    }

    /*.row[@display=block]:nth-child(odd) {
       background-color: white;
    }*/    

    .parent-node .sortiment-codes{
        display:none;
    }

    .row.parent-node .actions{
        display:none;
    }
    
    .row.leaf-node {       
        .starting-from{
            padding-left:5px;
        }
        .sortiment{
            padding-left:10px;
        }
        .actions {
            padding-left:15px;
        }
    }

}

.save-assortment-exception-form {
    #selector-for-exception-segment-id{
        width:95%;
    }
    #exception-segment-id {
        width:100%;
    }
    .sortiment-codes{
        display:inline-block;
    }
}

.ui-dialog {
	overflow: hidden;
	position: absolute;
	top: 0;
	left: 0;
	padding: 0;
	outline: 0;
    z-index: 50;
    .ui-button{
        min-width:100px;
    }
    .ui-dialog-titlebar-close {
      visibility: hidden;
    }    
    .btn-cancel-textarea {
        background-color:white;
        color:black;
        margin-left: 10px;
    }
    .btn-save-textarea{
        height:50px;
    }

}


/* Component containers
----------------------------------*/
.ui-widget {
	font-family: Arial,Helvetica,sans-serif;
	font-size: 1em;
}
.ui-widget .ui-widget {
	font-size: 1em;
}
.ui-widget input,
.ui-widget select,
.ui-widget textarea,
.ui-widget button {
	font-family: Arial,Helvetica,sans-serif;
	font-size: 1em;
}
.ui-widget-content {
	border: 1px solid #dddddd;
	background: #ffffff;
	color: #333333;
}
.ui-widget-content a {
	color: #333333;
}
.ui-widget-header {
	border: 1px solid #dddddd;
	background: @bg-color;
	color: #333333;
	font-weight: bold;
}
.ui-widget-header a {
	color: #333333;
}

// editable text-area

.dialog-inner {
    padding:20px;
    height:100%;
}

.textarea-symbols {
    .symbols-count-wrapper,
    .symbols-left-wrapper{
        display:inline-block;
        padding-right: 10px;
    }    
    .symbols-count,
    .symbols-left{
        font-weight:bold;
    }
}

.big-textarea {    
    height:95%;
    width:100%;
    padding:10px;
    margin-top:10px;
}

.ui-dialog-titlebar-close {
    float:right;
}

.ui-dialog-titlebar {  
    padding:20px;
}

.ui-dialog-titlebar,
.ui-dialog-buttonpane {
    border:0;
}

// fileupload
.csv-import-form {

    .form-item > label {
        float: left;
        width: 20%;
    }

    .form-item > div {
        float: left;
        width: 80%;
    }

    .form-item .file-container {
        width:auto;
    }

    .operation-log {
        padding:5px;
        min-height: 500px;
        background-color: @bg-color;
    }

    .statistic-form,
    .file-specific { 
        opacity: 0;
        .transition(opacity, @transition-length);
    }

    .progress-bar {
        position: relative;
        height: 2px;
        bottom: 0;
        left: 0;
        background-color: #ed1846;
        visibility: visible;
        width: 0%;
    }
    
    #mybutton {
        display: inline-block;
        float: left;
        overflow: hidden;
        position: relative;   
        color: #222;
        padding: 5px;
        border: 1px solid #555;        
    }
    #fileupload {
        opacity: 0;
        font-size:42px;
        position: absolute;
        right: 0;
        top: 0;   
        cursor: pointer;    
    }
    #mytext {
        float:left;
        float: left;
        margin-top: 5px;
    }

    .log-success {
        color:green;
    }

    .log-error  {
        color:red;        
     }

    .log-neutral {
        color:@text-color;
    }

    .log-error-item {
        color:red;
        padding-left: 15px;
    }
    
    .total-failed,
    .total-imported,
    .total-parsed {
        font-weight:bold;
    }
    .statistic-form{
        margin-top:10px;
        top:20px;
        right:50px;
        padding:10px;
        position:absolute;
        border: 1px solid @bg-color-dark;
        min-width: 200px;
    }

    .btn-download-error-file,
    .btn-force-update{
        margin-top:10px;
    }
}

.row-separator{
    margin:10px;
    color:grey;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.long-row {
    overflow:hidden;
    text-overflow: ellipsis;
}

.product-tree-form {
    .head{
        overflow: hidden
    }
    .product-tree-header {
        font-weight:bold;
        .col-first-title {
            padding-left: 15px;
        }
    }
    .item-col {
        display:inline-block;        
        position:relative;
        float:left;        
        padding:5px;
    }
    .item-col.segment {
        width: 40%;
    }
    .item-col.code {
        width: 15%;
    }
    .item-col.status {
        width: 15%;
    }
    .item-col.actions {
        width: 30%;
    }

    .btn:hover {
        background-color:green;
    }        
    .expand-button,
    .collapse-button {
        top:5px;
    }

   }

 .segment-code-container {
        
    display: inline-block; 
    position: relative;
    background-color:background: #F1EFEC;
        
    .designation {
        text-align:left;
        max-width: 100px;
        &.designation-offset-0{
            padding-left:10px;
        }
        &.designation-offset-2{
            padding-left:30px;
        }
        &.designation-offset-5{
            padding-left:55px;
        }
        &.designation-offset-7{
            padding-left:70px;
        }
    }
                
    .child-placeholder,
    .parent-code {
        position: absolute;             
        top: 0; 
        padding: 5px 10px; 
        color: #999;
    }

    .parent-code {
        left:0;
    }

    .child-placeholder {
        right:0;
    }

}

.btn-success {
    background-color:green;    
}