/* .xelect */
.xelect-options {
	top: 0;
	left: 0;
	height: 34px;
	z-index: 1000;
	position: absolute;

	& > div.ul-wrapper {
		position: relative;
		min-height: 16px;
		padding-top: 34px;
		margin-top: -34px;

		& > .help-text {
			height: 34px;
			line-height: 34px;
			padding: 0 10px;
			font-style: italic;
			background: #fff;
			width: 100%;
			display: none;
			color: #777;

			&--visible {
				display: block;
			}	
		}
	}
}





.xelect-options ul {
	display: none;
	z-index: 1;
	padding: 0;
	margin: 0;
	list-style-type: none;
	position: relative;
	width: 100%;
	top: 0;
	left: 0;
	background: #fff;
}
.xelect-options ul li {
	padding: 0 10px;
	line-height: 34px;
	display: block;
	white-space: nowrap;
	-ms-text-overflow: ellipsis;
	-o-text-overflow: ellipsis;
	text-overflow: ellipsis;
	overflow: hidden;

	&.xelect-option--hidden {
		display: none;
	}
}

.xelect-options ul li .original-text-hidden {
	display: none;
}
.xelect-options ul li.no-match {
	display: none;
}
.xelect-options ul li.selected {
	background: #ccc;
}
.xelect-options ul li.hover {
	background-color: #E2E0DA;
}
.xelect-options ul li.disabled {
	background-color: #f0f0f0;
	color: #bbb;
}

/*  */
/* .xelect.xelect-combobox .xelect-options,
.xelect:not(.opened) .xelect-options {
	display:none;
} */

.xelect-options:not(.opened),
.xelect-options-combobox{
	display: none;
}

/* .xelect.xelect-multiselect */
.xelect-options-multiselect ul li.selected {
	display: none;
}

/* .xelect.opened */
.xelect-options.opened > div.ul-wrapper {
	z-index: 30;
	-webkit-box-shadow: 0 0 5px #ccc;
	-moz-box-shadow: 0 0 5px #ccc;
	box-shadow: 0 0 5px #ccc;
}
.xelect-options ul {
	display: block;
	z-index: 99;
}

.xelect-options .option-label {
	display: none;
}