.xelect ul.xelect-selected-values {

    list-style-type: none;
    padding: 0;
    margin: 0;
    width: 100%;

    li {
        position: relative;
        line-height: 26px;

        p {
            background: #F1EFEC;
            margin: 0;
            margin-bottom: 1px;
            padding: 0 10px;
        }
        
        span {
            position: absolute;
            top: 0;
            right: 0;
            padding: 0 10px;
            cursor: pointer;
            font-size: 16px;
            line-height: 26px;
            -moz-transition: all 0.2s;
            -o-transition: all 0.2s;
            -webkit-transition: all 0.2s;
            transition: all 0.2s;
        }
        
        .clear-value {
            position:absolute;
            top:0px;
            right:0px;
            /*line-height: 34px;*/
            width: 30px;
            text-align: center;
            /*margin-right: -30px;*/
            cursor: pointer;
            -moz-transition: all 0.2s;
            -o-transition: all 0.2s;
            -webkit-transition: all 0.2s;
            transition: all 0.2s;

            &:hover {
                background: #E2E0DA;
                color: #fff;
            }
        }
        
        &.active p,
        p:hover {
            background: #E2E0DA;
        }

        &.disabled p {
            background: #f0f0f0;
            color: #bbb;
            cursor: default;

            &:hover {
                background: none;
            }
        }

        &:first-child span {
            top: 1px;
        }
    
        &.xelect-invalid p{
            background-color:red;
            color: #fff;
        }
    }
}

.xelect.disabled ul.xelect-selected-values {
    li {
        span,
        p {
            background: #f0f0f0;
            color: #bbb;
            cursor: default;
        }

        span:hover {
            background: none;
        }
    }
}