.xelect .xelect-title {
	height: 34px;
	position: absolute;
	bottom: 0;
	right: 0;
	overflow: hidden;
	z-index: 21;
    /*
    width: 100%;
    z-index: 1;
    width: 70px;
    */
        
    > span {
        display: none;
    }

    .clear-value,
    .chevron {
        float:right;
        line-height: 34px;
        width: 30px;
        text-align: center;
        cursor: pointer;
        -moz-transition: all 0.2s;
        -o-transition: all 0.2s;
        -webkit-transition: all 0.2s;
        transition: all 0.2s;
    }

    .clear-value:hover {
        background: #444;
        color: #fff;
    }

    &.has-value {

        .clear-value {
            margin-right: 0;
        }

        .chevron {
            display:none;
        }
    }

    &:not(.has-value) {

        .clear-value {
            margin-right: -30px;
        }

        .chevron {
            display:block;
        }
    }
}

.xelect.opened > div > .xelect-title {
	z-index: 50;
}

.xelect.disabled {

    .xelect-title {
        color: #aaa;
        cursor: not-allowed;

        .chevron,
        &.has-value .clear-value {
            opacity: 0.5;
            cursor: default;	
        }

        &.has-value .clear-value:hover {
            color: inherit;
            background-color: inherit;	
        }
    }
}

.xelect.xelect-no-empty .clear-value {
	display: none;
}

.xelect.xelect-no-empty .chevron {
	display: block !important;
}