.xelect {
	display: inline-block;
    position: relative;
    
    input,
    div {
        box-sizing: border-box;
    }
    
    input.xelect-input {
        border: 1px solid #333;
        background: none;
        height: 34px;
        padding: 0 50px 0 0;
        position: relative;
        vertical-align: top;
        width: 100%;
        z-index: 1;
    }

    .opened > div > input.xelect-input {
        z-index: 40;
    }
}

.ac-searching-text,
.ac-no-results-text,
.ac-hint-text {
    display: none;
}