﻿@using Sparkling.Xelect.js.Mvc.Ext
@model Sparkling.Xelect.js.Mvc.Demo.Models.DemoModel

<form method="post" action="temp" class="tempClass">
    <div class="form-item">
        <label>Hankija</label>
        <div>
            @Html.AutocompleteFor(x => x.ContractorName, Url.Action("Contractor", "Ac"), new { data_xelect_max_height = 3 })
            <span class="ac-hint-text">Hankija nimi</span>
            <span class="ac-no-results-text">Ühtegi hankijat ei leitud</span>
            <span class="ac-searching-text">Otsin...</span>
            @Html.ValidationMessageFor(x => x.ContractorId)
        </div>
    </div>

    <div class="form-item">
        <label>Ostuklass</label>
        <div>
            @Html.AutocompleteFor(x => x.BuyInGroupName, Url.Action("Clv", "Ac", new { typeId = 7, multiselect = true }), new { @class = "xelect-multiselect", data_field_id = 100, data_field_name = "pla" })
            <span class="ac-hint-text">Ostuklassi nimi</span>
            <span class="ac-no-results-text">Ühtegi ostuklassi ei leitud</span>
            <span class="ac-searching-text">Otsin...</span>
        </div>
    </div>

    <div class="form-item">
        <label>Ostuklass 2</label>
        <div>
            @Html.AutocompleteFor(x => x.Names, Url.Action("Clv", "Ac", new { typeId = 7 }))
            <span class="ac-hint-text">Ostuklassi nimi</span>
            <span class="ac-no-results-text">Ühtegi ostuklassi ei leitud</span>
            <span class="ac-searching-text">Otsin...</span>
        </div>
    </div>

    <div class="form-item">
        <label>Ostuklass 2</label>
        <div>
            @Html.Autocomplete("pla", Url.Action("Clv", "Ac", new { typeId = 7 }), null, "1", "Preselected")
            <span class="ac-hint-text">Ostuklassi nimi</span>
            <span class="ac-no-results-text">Ühtegi ostuklassi ei leitud</span>
            <span class="ac-searching-text">Otsin...</span>
        </div>
    </div>
    
    <div class="form-item">
        <label>Combobox</label>
        <div>
            @{
                var options = new []
                {
                    new SelectListItem
                    {
                        Text = "Option1",
                        Value = "1"
                    },
                    new SelectListItem
                    {
                        Text = "Option2",
                        Value = "2"
                    },
                    new SelectListItem
                    {
                        Text = "Option3",
                        Value = "3",
                        Selected = true
                    }
                };
            }
            @Html.Selector("combobox-test", options, new XelectParameters
            {
                RootAttributes = new
                {
                    type = "combobox",
                    name = "root",
                    data_pla = 100
                },
                ValueInputAttributes = new
                {
                    name = "valueinput",
                    data_value = 5
                },
                TextInputAttributes = new
                {
                    name = "textinput",
                    data_index = 1 
                }
            })
            <span class="ac-hint-text">Ostuklassi nimi</span>
            <span class="ac-no-results-text">Ühtegi ostuklassi ei leitud</span>
            <span class="ac-searching-text">Otsin...</span>
        </div>
    </div>
    
    <div class="form-item">
        <label>Template override shared</label>
        <div>
            @Html.Autocomplete("template-test", Url.Action("Clv", "Ac", new { typeId = 7 }), null, "1", "Preselected", "_Xelect")
            <span class="ac-hint-text">Ostuklassi nimi</span>
            <span class="ac-no-results-text">Ühtegi ostuklassi ei leitud</span>
            <span class="ac-searching-text">Otsin...</span>
        </div>
    </div>
</form>

@section scripts
{
    <script type="text/javascript" src="@Url.Content("~/Scripts/node_modules/@brightspark/sparkling-observable-js/sparkling-observable.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/node_modules/@brightspark/sparkling-observable-js-property-changed-ext/sparkling-observable-property-changed-ext.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/node_modules/@brightspark/sparkling-ajax-js/sparkling-ajax.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/node_modules/@brightspark/sparkling-xelect-js/sparkling-xelect.js")"></script>
    <script type="text/javascript">
        (function () {
            Xelect = sparkling.Xelect;

            var x1 = new Xelect("xelect-for-ContractorName");

            var x2 = new Xelect("xelect-for-BuyInGroupName", {
                maxHeight: 3,
                multiselect: true
            });

            var x3 = new Xelect("xelect-for-Names", {
                forceValue: false,
                maxHeight: 8
            });

            var x4 = new Xelect("xelect-for-pla", {
                forceValue: false
            });
            var x5 = new Xelect("xelect-for-combobox-test");
        })();
    </script>
}