﻿@using System.Web.Mvc
@inherits System.Web.Mvc.WebViewPage<Sparkling.Xelect.js.Mvc.Ext.XelectViewModel>

@{
    string rootAttrString = Model.Attributes != null ? Html.GetXelectAttrString(Model.Attributes.RootAttributesDictionary) : null;
    string textAttrString = Model.Attributes != null ? Html.GetXelectAttrString(Model.Attributes.TextInputAttributesDictionary) : null;
    string valueAttrString = Model.Attributes != null ? Html.GetXelectAttrString(Model.Attributes.ValueInputAttributesDictionary) : null;
}

@helper DisplayClearButton()
{
    <div class="clear-value">
        <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 6 6" width="6px" height="6px" xml:space="preserve"><polygon class="x" points="6,0.7 5.3,0 3,2.3 0.7,0 0,0.7 2.3,3 0,5.3 0.7,6 3,3.7 5.3,6 6,5.3 3.7,3 " /></svg>
    </div>
}

@helper DisplayChevron()
{
    <div class="chevron">
        <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="10px" height="6px" x="0px" y="0px" viewBox="0 0 10 6" xml:space="preserve"><polygon points="5.1,6 0,1.3 1.4,0 5.1,3.3 8.6,0 10,1.3" /></svg>
    </div>
}

<div class="xelect @Model.CssClass" id="xelect-for-@Model.Id" @Html.Raw(rootAttrString)>
    <ul class="xelect-selected-values">
        @if (Model.SelectedValues != null)
        {
            foreach (var type in Model.SelectedValues)
            {
                <li>
                    <p>@type.Value</p>
                    @DisplayClearButton()
                    <input type="hidden" value="@type.Key" />
                </li>
            }
        }
    </ul>

    <div style="position: relative">
        @if ((Model.AsCombobox || Model.AsAutocomplete) && !Model.IsMultiSelect)
        {
            <input id="@Model.TextFieldId" 
                   type="text" 
                   class="xelect-input @(string.IsNullOrEmpty(Model.SelectedValue) ? null : " has-value")" 
                   value="@Model.SelectedText"
                   @Html.Raw(textAttrString)
            />
        }
        else
        {
            <input id="@Model.Id" 
                   type="text" 
                   class="xelect-input" 
                   @Html.Raw(textAttrString)
            />
        }
        <input type="hidden" class="xelect-value" disabled="@Model.Disabled" id="@Model.Id" name="@Model.Name" value="@Model.SelectedValue" @Html.Raw(valueAttrString)/>

        @* selector / trigger *@
        <div class="xelect-title @(string.IsNullOrEmpty(Model.SelectedValue) ? null : " has-value")">
            <span style="line-height: 34px; padding: 0 10px">@Model.Title</span>&nbsp;

            @DisplayClearButton()
            @DisplayChevron()
            <div style="clear: both"></div>
        </div>

        @if (Model.SelectedValues != null)
        {
            int _i = 0;
            foreach (var type in Model.SelectedValues)
            {
                <input type="hidden" name="@(Model.Name)[@_i].Key" class="selected-token-key" value="@type.Key" />
                <input type="hidden" name="@(Model.Name)[@_i].Value" class="selected-token-value" value="@type.Value" />
                ++_i;
            }
        }

        <div class="xelect-options">
            <div class="ul-wrapper">
                <ul field="@Model.Id">
                    @if (Model.Options != null)
                    {
                        foreach (var option in Model.Options)
                        {
                            <li key="@option.Value" class="@(Model.SelectedValues != null && Model.SelectedValues.ContainsKey(option.Value) ? " selected" : null) @(option.Disabled ? "disabled" : null)">
                                <span class="original-text">@option.Text</span>
                                <span class="highlighted-text"></span>
                            </li>
                        }
                    }
                </ul>
                <div class="help-text" style="display:none"></div>
            </div>
        </div>
        <div class="clear"></div>
    </div>
</div>